charts/alt-svc/flows.json
[{"id":"1ae34926.0962b7","type":"tab","label":"Alert Flow","disabled":false,"info":""},{"id":"fdc195e0.e98e18","type":"tab","label":"LINE Flow","disabled":false,"info":""},{"id":"a36f9e75.36f4e","type":"tab","label":"Setting Flow","disabled":false,"info":""},{"id":"10e7c7c8.9546f8","type":"tab","label":"Notify Update","disabled":false,"info":""},{"id":"b6f4984a.83e398","type":"subflow","name":"Redis Subflow","info":"","in":[{"x":120,"y":100,"wires":[{"id":"d58f1a41.880658"}]}],"out":[{"x":580,"y":100,"wires":[{"id":"77bdd845.554df8","port":0},{"id":"e4b33f7f.b938","port":0},{"id":"6bed72b3.054bdc","port":0}]}]},{"id":"2dddf348.5783dc","type":"subflow","name":"MySQL Flow","info":"","in":[{"x":40,"y":100,"wires":[{"id":"1b81cc7b.3be7f4"}]}],"out":[{"x":580,"y":100,"wires":[{"id":"17ef5945.ebf647","port":0},{"id":"ced4467.98749b8","port":0},{"id":"b83e0c3e.38f3e","port":0}]}]},{"id":"233e6c81.dce284","type":"subflow","name":"Push Subflow","info":"","in":[{"x":80,"y":540,"wires":[{"id":"81743317.f83c3"}]}],"out":[{"x":2200,"y":400,"wires":[{"id":"e7ba76f8.0549e8","port":0},{"id":"af893477.aa2528","port":0}]}]},{"id":"38b9e633.725b9a","type":"subflow","name":"get tag and meta flow","info":"","in":[{"x":60,"y":60,"wires":[{"id":"b81479ca.61f708"}]}],"out":[{"x":720,"y":180,"wires":[{"id":"99c1500c.25f4a","port":0}]}]},{"id":"84e582a7.4963","type":"redis-config","z":"b6f4984a.83e398","host":"redis-svr","port":"6379","dbase":"0","pass":"gemtek123"},{"id":"78991254.0484cc","type":"redis-config","z":"b6f4984a.83e398","host":"redis-svr","port":"6379","dbase":"0","pass":"gemtek123"},{"id":"becf8c10.579c1","type":"MySQLdatabase","z":"2dddf348.5783dc","host":"mysqldb","port":"3306","db":"notification_service_db","tz":""},{"id":"a85d20ec.28488","type":"MySQLdatabase","z":"2dddf348.5783dc","host":"mysqldb","port":"3306","db":"notification_service_db","tz":""},{"id":"7cd22f0b.3f9c4","type":"amqp2-server","z":"","host":"rabbitmq-svc","port":"5672","vhost":"/jingdfh-test","keepalive":"30","usetls":false,"verifyservercert":true},{"id":"d49bcdbd.e4e17","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"argi_dev","name":""},{"id":"e7addad9.34e368","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"argi_dev","name":""},{"id":"3e737fd8.c3cfe","type":"mqtt-broker","z":"","name":"","broker":"mqtt-svc","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"81b9a10d.0fe44","type":"http in","z":"1ae34926.0962b7","name":"","url":"/msg","method":"post","upload":false,"swaggerDoc":"","x":100,"y":1140,"wires":[["b0ff8d4a.d4818","1a6dc1d.eec213e"]]},{"id":"b0ff8d4a.d4818","type":"switch","z":"1ae34926.0962b7","name":"check data","property":"payload.data","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":1100,"wires":[["2735f832.a5d7d8"],["6da8e81b.f30da8"]]},{"id":"2735f832.a5d7d8","type":"function","z":"1ae34926.0962b7","name":"set payload to parameter","func":"msg['actInfo'] = msg.payload\nmsg['fport'] = msg.payload.data.extra.fport\nreturn msg","outputs":1,"noerr":0,"x":150,"y":1060,"wires":[["be7638a4.b49d28"]]},{"id":"6da8e81b.f30da8","type":"function","z":"1ae34926.0962b7","name":"set missing parameter","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'missing data'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":520,"y":1020,"wires":[["92e49e8a.d5683"]]},{"id":"92e49e8a.d5683","type":"http response","z":"1ae34926.0962b7","name":"","statusCode":"","headers":{},"x":1450,"y":480,"wires":[]},{"id":"be7638a4.b49d28","type":"function","z":"1ae34926.0962b7","name":"set macAddr to payload","func":"// let actInfo = flow.get('actInfo')\nlet actInfo = msg['actInfo']\nlet newPayload = []\nlet mac = actInfo.data.macAddr\nif(mac.indexOf('_') !== -1){\n  let macArray = mac.split('_')\n  mac = macArray[0]\n}\nnewPayload.push(mac)\nmsg.payload = newPayload\nmsg['flow'] = getRandomNumber(10)\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":150,"y":1020,"wires":[["6ecd252b.119b2c"]]},{"id":"d58f1a41.880658","type":"switch","z":"b6f4984a.83e398","name":"lbs","property":"flow","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"str"},{"t":"lt","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":250,"y":100,"wires":[["77bdd845.554df8"],["e4b33f7f.b938"]]},{"id":"77bdd845.554df8","type":"redis-command","z":"b6f4984a.83e398","server":"84e582a7.4963","command":"get","name":"redis_23","topic":"","x":403,"y":74,"wires":[[]]},{"id":"e4b33f7f.b938","type":"redis-command","z":"b6f4984a.83e398","server":"78991254.0484cc","command":"get","name":"redis_22","topic":"","x":401.5,"y":131,"wires":[[]]},{"id":"fb4b290c.cfab08","type":"catch","z":"b6f4984a.83e398","name":"","scope":["e4b33f7f.b938","77bdd845.554df8"],"x":184,"y":264,"wires":[["6bed72b3.054bdc"]]},{"id":"6bed72b3.054bdc","type":"function","z":"b6f4984a.83e398","name":"set null to payload","func":"msg.payload = null\nreturn msg","outputs":1,"noerr":0,"x":402,"y":262,"wires":[[]]},{"id":"6ecd252b.119b2c","type":"subflow:b6f4984a.83e398","z":"1ae34926.0962b7","x":120,"y":980,"wires":[["c221049d.bb13b8"]]},{"id":"c221049d.bb13b8","type":"switch","z":"1ae34926.0962b7","name":"check macAddr exist","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":940,"wires":[["f5e7b7eb.f24858"],["6da8e81b.f30da8"]]},{"id":"1b81cc7b.3be7f4","type":"switch","z":"2dddf348.5783dc","name":"lbs","property":"flow","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"lt","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":170,"y":100,"wires":[["17ef5945.ebf647"],["ced4467.98749b8"]]},{"id":"17ef5945.ebf647","type":"mysql","z":"2dddf348.5783dc","mydb":"becf8c10.579c1","name":"notification_db_1","x":376,"y":66,"wires":[[]]},{"id":"ced4467.98749b8","type":"mysql","z":"2dddf348.5783dc","mydb":"a85d20ec.28488","name":"notification_db_1","x":373,"y":129,"wires":[[]]},{"id":"9db76767.2ed9a8","type":"catch","z":"2dddf348.5783dc","name":"","scope":["ced4467.98749b8","17ef5945.ebf647"],"x":156,"y":288,"wires":[["b83e0c3e.38f3e"]]},{"id":"b83e0c3e.38f3e","type":"function","z":"2dddf348.5783dc","name":"set empty result","func":"msg.payload = {}\nreturn msg","outputs":1,"noerr":0,"x":374,"y":289,"wires":[[]]},{"id":"1a6dc1d.eec213e","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":390,"y":1140,"wires":[]},{"id":"f5c8ed63.727f","type":"function","z":"1ae34926.0962b7","name":"set search alert rule","func":"let actInfo = msg['actInfo']\nlet newPayload = {}\nlet macIn = {}\nlet mac = []\nmac.push('ALL')\nmac.push(actInfo.data.macAddr)\nmacIn['$in'] = mac\nnewPayload['activate'] = true\nnewPayload['period'] = 'N'\nnewPayload['macAddr'] = macIn\nnewPayload['fport'] = actInfo.data.extra.fport\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":130,"y":860,"wires":[["c62dfa56.cbba28"]]},{"id":"c62dfa56.cbba28","type":"mongodb in","z":"1ae34926.0962b7","mongodb":"d49bcdbd.e4e17","name":"","collection":"alert","operation":"find","x":150,"y":820,"wires":[["19a0d354.23253d"]]},{"id":"19a0d354.23253d","type":"switch","z":"1ae34926.0962b7","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":760,"wires":[["40e4500.823e9b"],["f6b0cc28.5bc53"]]},{"id":"f6b0cc28.5bc53","type":"function","z":"1ae34926.0962b7","name":"set missing parameter","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no alert rule found'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":500,"y":760,"wires":[["92e49e8a.d5683"]]},{"id":"40e4500.823e9b","type":"split","z":"1ae34926.0962b7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":720,"wires":[["dfc246b4.f5bb78","2988f0d4.c076"]]},{"id":"dfc246b4.f5bb78","type":"function","z":"1ae34926.0962b7","name":"check condition event","func":"msg['tmpRule'] = msg.payload\nlet condFlg = false\nlet eventFlg = false\nlet limit = 0\nlet tempLimit = 0\nlet dataSrc = msg.payload.dataSrc !== undefined ? msg.payload.dataSrc : 'event'\nif(msg.payload.condition !== undefined && msg.payload.condition.length > 0){\n  condFlg = true\n  for(let i = 0 ; i < msg.payload.condition.length ; i++){\n    let field = msg.payload.condition[i].field+''\n    tempLimit = checkFeild(field)\n    if(tempLimit > 0 && tempLimit > limit)\n      limit = tempLimit\n    let val = msg.payload.condition[i].val+''\n    tempLimit = checkFeild(val)\n    if(tempLimit > 0 && tempLimit > limit)\n      limit = tempLimit\n  }\n  if(limit > 0)\n    eventFlg = true\n  msg['condFlg'] = condFlg\n  msg['eventFlg'] = eventFlg\n  msg['limit'] = limit\n  msg['dataSrc'] = dataSrc\n}\nreturn msg\nfunction checkFeild(checkStr){\n  if(checkStr.indexOf(':') != -1){\n    condArray = checkStr.split(':')\n    if(condArray.length >= 2){\n      return condArray[1]\n    }\n  }\n  return -1\n}","outputs":1,"noerr":0,"x":160,"y":680,"wires":[["d157bb2d.7f7658"]]},{"id":"d157bb2d.7f7658","type":"switch","z":"1ae34926.0962b7","name":"check condFlg","property":"condFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":640,"wires":[["ca8c4507.120e88"],["a018c6ca.ee41a8"]]},{"id":"a018c6ca.ee41a8","type":"function","z":"1ae34926.0962b7","name":"set missing parameter","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no alert cond found'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":460,"y":620,"wires":[["92e49e8a.d5683"]]},{"id":"ca8c4507.120e88","type":"switch","z":"1ae34926.0962b7","name":"check eventFlg","property":"eventFlg","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":600,"wires":[["9a79e056.85797"],["bc4ce09d.31548"]]},{"id":"9a79e056.85797","type":"function","z":"1ae34926.0962b7","name":"check cond rule","func":"let actInfo = msg['actInfo']\nlet tmpRule = msg['tmpRule']\nlet events = msg['events']\nlet results = []\n\nfor(let i = 0 ; i < tmpRule.condition.length; i++){\n  results.push(checkRule(tmpRule.condition[i], actInfo.data, events))\n}\nlet pushFlg = results[0]\nif(tmpRule.condition.length > 1){\n  for(let i = 1 ; i < tmpRule.condition.length; i++){\n    let combine = tmpRule.condition[i].combine\n    if(combine == 'AND'){\n      if(pushFlg && results[i-1] && results[i]){\n        pushFlg = true\n      }\n      else{\n        pushFlg = false   \n      }\n    }\n    if(combine == 'OR'){\n      if(pushFlg || results[i-1] || results[i]){\n        pushFlg = true\n      }\n      else{\n        pushFlg = false \n      }\n    }\n  }    \n}\nmsg['pushFlg'] = pushFlg\nreturn msg\nfunction checkRule(rule, actInfo, events){\n  let cp1 = getCp(rule, actInfo, events, 'field')\n  if (cp1 === undefined) cp1 = -1\n  let cp2 = getCp(rule, actInfo, events, 'val')\n  if (cp2 === undefined) cp2 = -1\n  node.warn('cp1:'+cp1)\n  node.warn('cp2:'+cp2)\n  let opFlg = ''\n  switch(rule['op']) {\n    case '>':\n      opFlg = (cp1 > cp2)\n      break;\n    case '>=':\n      opFlg = (cp1 >= cp2)\n      break;\n    case '=':\n      opFlg = (cp1 == cp2)\n      break;\n    case '!=':\n      opFlg = (cp1 != cp2)\n      break;\n    case '<=':\n      opFlg = (cp1 <= cp2)\n      break;\n    case '<':\n      opFlg = (cp1 < cp2)\n      break;\n    default:\n  }\n  return opFlg\n}\nfunction getCp(rule, actInfo, events, fieldName){\n  let cp = ''\n  let strName = rule[fieldName]+''\n  if(strName.indexOf(':') != -1){\n    let condArray = rule[fieldName].split(':')\n    if(condArray.length >= 2){\n      let eventArray = condArray[2].split('.')\n      let tempObj = events[condArray[1]]\n      for(let i = 0 ; i < eventArray.length ; i++){\n        if(i < eventArray.length -1){\n          tempObj = tempObj[eventArray[i]]\n        }else{\n          cp = tempObj[eventArray[i]]\n        }\n      }\n    }\n  }else if(strName.indexOf('.') != -1){\n    let eventArray = strName.split('.')\n    let tempObj = actInfo\n    for(let i = 0 ; i < eventArray.length ; i++){\n      if(i < eventArray.length -1){\n        tempObj = tempObj[eventArray[i]]\n      }else{\n        cp = tempObj[eventArray[i]]\n      }\n    }\n  }else{\n    cp =strName\n  }\n  return cp\n}\n","outputs":1,"noerr":0,"x":120,"y":460,"wires":[["fc3b6d09.aa30f"]]},{"id":"4d0e3fb3.90baf","type":"function","z":"1ae34926.0962b7","name":"set find event","func":"let actInfo = msg['actInfo']\nlet page_limit = parseInt(msg['limit'])+1\nlet newPayload = {}\nlet sort = {}\nsort['recv'] = -1\nnewPayload['macAddr'] = actInfo.data.macAddr\nnewPayload['extra.fport'] = actInfo.data.extra.fport\nmsg['limit'] = page_limit\nmsg['sort'] = sort\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":330,"y":540,"wires":[["32a9793b.9b20b6"]]},{"id":"32a9793b.9b20b6","type":"mongodb in","z":"1ae34926.0962b7","mongodb":"d49bcdbd.e4e17","name":"","collection":"devices","operation":"find","x":580,"y":540,"wires":[["5ea21f8e.e6de3"]]},{"id":"3a4d8b92.eb10b4","type":"function","z":"1ae34926.0962b7","name":"set to obj","func":"msg['events'] = msg.payload\nlet newPayload = {}\nnewPayload['data'] = msg.payload[0]\nmsg['actInfo'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":600,"y":480,"wires":[["9a79e056.85797"]]},{"id":"a636d4e6.44fcf8","type":"function","z":"1ae34926.0962b7","name":"set push msg to payload","func":"let newPayload = {}\nlet tmpRule = msg['tmpRule']\nlet actInfo = msg['actInfo']\nlet pushMsg = ''\npushMsg = varReplace(tmpRule['msg'], actInfo.data)\nnewPayload['pushMsg'] = pushMsg\nnewPayload['mac'] = actInfo.data.macAddr\nnewPayload['information'] = actInfo.data.information\nmsg.payload = newPayload\nmsg['template'] = tmpRule.template_id !== undefined ? tmpRule.template_id : -1\nreturn msg\nfunction varReplace(msg, actInfo){\n  let stPos = 0, edPos = 0, subStr = '', replaceWord = ''\n  while(msg.indexOf('{{') > -1 && msg.indexOf('}}') > -1){\n    stPos = msg.indexOf('{{')\n    edPos = msg.indexOf('}}')\n    subStr = msg.substring(stPos+2, edPos)\n    replaceWord = getVal(subStr, actInfo)\n    msg = msg.replace('{{'+subStr+'}}', replaceWord);    \n   }\n  return msg\n}\nfunction getVal(fieldName, actInfo){\n  let reVal = ''\n  if(fieldName.indexOf('.') > -1){\n    let eventArray = fieldName.split('.')\n    let tempObj = actInfo\n    for(let i = 0 ; i < eventArray.length ; i++){\n      if(i < eventArray.length -1){\n        tempObj = tempObj[eventArray[i]]\n      }else{\n        reVal = tempObj[eventArray[i]]\n      }\n    }\n  }else{\n    reVal = actInfo[fieldName]\n  }\n  return reVal\n}","outputs":1,"noerr":0,"x":350,"y":120,"wires":[["86db80a1.c1348"]]},{"id":"8bcc0fc4.db1f2","type":"join","z":"1ae34926.0962b7","name":"alert join","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1220,"y":300,"wires":[["92e49e8a.d5683","3242c589.7dfb9a"]]},{"id":"86db80a1.c1348","type":"function","z":"1ae34926.0962b7","name":"set pushMsgs","func":"let pushMsgs = []\nlet pushMsg = msg.payload\nif(pushMsg['mac'] !== undefined && pushMsg['pushMsg'] !== undefined && pushMsg['pushMsg'] !== ''){\n  pushMsgs.push(pushMsg)\n}\nmsg['pushMsgs'] = pushMsgs\nreturn msg","outputs":1,"noerr":0,"x":600,"y":120,"wires":[["74e3af1c.c5e05","ab7f6a02.76b9f8"]]},{"id":"294718f7.bd0408","type":"http in","z":"fdc195e0.e98e18","name":"","url":"/line/msg","method":"post","upload":false,"swaggerDoc":"","x":160,"y":420,"wires":[["b241a172.60449"]]},{"id":"bdb1a125.2bc0b","type":"switch","z":"fdc195e0.e98e18","name":"check macAddr exist","property":"payload","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":180,"y":220,"wires":[["7ea8d82c.6c48e8"],["9efb6b67.0a3868"]]},{"id":"6d5eb1fb.e7b9a","type":"subflow:b6f4984a.83e398","z":"fdc195e0.e98e18","x":160,"y":260,"wires":[["bdb1a125.2bc0b"]]},{"id":"160064b3.87decb","type":"function","z":"fdc195e0.e98e18","name":"set macAddr to payload","func":"// let actInfo = flow.get('actInfo')\nlet actInfo = msg['actInfo']\nlet newPayload = []\nnewPayload.push(actInfo.data.macAddr)\nmsg.payload = newPayload\nmsg['flow'] = getRandomNumber(10)\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":190,"y":300,"wires":[["6d5eb1fb.e7b9a"]]},{"id":"80f15a3a.114058","type":"function","z":"fdc195e0.e98e18","name":"set payload to parameter","func":"msg['actInfo'] = msg.payload\nreturn msg","outputs":1,"noerr":0,"x":190,"y":340,"wires":[["160064b3.87decb"]]},{"id":"b241a172.60449","type":"switch","z":"fdc195e0.e98e18","name":"check data","property":"payload.data","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":380,"wires":[["80f15a3a.114058"],["9efb6b67.0a3868"]]},{"id":"9efb6b67.0a3868","type":"function","z":"fdc195e0.e98e18","name":"set missing parameter","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'missing data'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":580,"y":300,"wires":[["c5b0d052.acc0a"]]},{"id":"c5b0d052.acc0a","type":"http response","z":"fdc195e0.e98e18","name":"","statusCode":"","headers":{},"x":850,"y":220,"wires":[]},{"id":"7ea8d82c.6c48e8","type":"function","z":"fdc195e0.e98e18","name":"set payload to line","func":"let actInfo = msg['actInfo']\nlet newPayload = {}\nlet headers = {}\nnewPayload['to'] = actInfo.data.to\nnewPayload['messages'] = actInfo.data.messages\nmsg.payload = newPayload\nheaders['Content-Type'] = 'application/json'\nheaders['Authorization'] = 'Bearer {o4pCB5mSfeHkUOsfqx4R+KPQwGY7rsAuNqrRPTeOQCb7/16GeSaunCzKcDOFqioutnO/xktpiNDWwNIocUliSvx5+x3WJa5bKA7IuKYRlNcjQNzbJbiIy9tE9Oa2yWXFNe7FBk/zMbXBouj0ekK56gdB04t89/1O/w1cDnyilFU=}'\nmsg['headers'] = headers\nreturn msg","outputs":1,"noerr":0,"x":190,"y":180,"wires":[["137aa0f1.10620f"]]},{"id":"137aa0f1.10620f","type":"http request","z":"fdc195e0.e98e18","name":"","method":"POST","ret":"obj","url":"https://api.line.me/v2/bot/message/multicast","tls":"","x":410,"y":180,"wires":[["f0fe1d9f.a34c5"]]},{"id":"f0fe1d9f.a34c5","type":"function","z":"fdc195e0.e98e18","name":"check result","func":"let newPayload = {}\nif(msg.payload != '' && isEmptyObject(msg.payload)){\n  newPayload['responseMsg'] = 'line push success'\n  newPayload['responseCode'] = '000'\n}else{\n  newPayload['responseMsg'] = 'line push fail'\n  newPayload['responseCode'] = '500'    \n}\n\nmsg.payload = newPayload\nreturn msg\nfunction isEmptyObject(obj) {\n  return !Object.keys(obj).length;\n}","outputs":1,"noerr":0,"x":630,"y":180,"wires":[["c5b0d052.acc0a"]]},{"id":"68670702.2b3398","type":"subflow:2dddf348.5783dc","z":"233e6c81.dce284","name":"","x":130,"y":240,"wires":[["200e330f.2a1dfc"]]},{"id":"200e330f.2a1dfc","type":"switch","z":"233e6c81.dce284","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":200,"wires":[["ed7e73bb.714c6"],["b08873f7.2bbe9"]]},{"id":"b08873f7.2bbe9","type":"function","z":"233e6c81.dce284","name":"set missing push info","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'missing push info'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":740,"y":340,"wires":[["e7ba76f8.0549e8"]]},{"id":"7f7f7bdc.63c394","type":"function","z":"233e6c81.dce284","name":"set user to push","func":"let actInfo = msg['actInfo'] !== undefined ? msg['actInfo'] : {}\nlet sqlStr = 'select * from object_method_relation where notification_object_id in(select notification_object_id from group_object_relation where notification_group_id = '+msg.payload.notification_group_id+') and notification_enabled = 1 '\nactInfo['terGroup'] = msg.payload.terGroup\nactInfo['notifyGroup'] = msg.payload.notifyGroup\nactInfo['notifyGroupId'] = msg.payload.notification_group_id\nmsg['actInfo'] = actInfo\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":140,"y":100,"wires":[["30cd8341.d2c23c"]]},{"id":"30cd8341.d2c23c","type":"subflow:2dddf348.5783dc","z":"233e6c81.dce284","x":150,"y":60,"wires":[["f4c17eb6.bec3e"]]},{"id":"f4c17eb6.bec3e","type":"switch","z":"233e6c81.dce284","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":330,"y":60,"wires":[["11e51e24.412ef2"],["aa35d23e.d08a3"]]},{"id":"aa35d23e.d08a3","type":"function","z":"233e6c81.dce284","name":"set missing user","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'missing push user'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":720,"y":280,"wires":[["e7ba76f8.0549e8"]]},{"id":"cabd3528.34c118","type":"function","z":"233e6c81.dce284","name":"set msg to amqp","func":"let actInfo = msg['actInfo']\nlet pushContent = msg['pushContent']\nlet macInfo = msg['macInfo']\nlet dataSrc = msg['dataSrc']\nlet newPayload = {}\nlet notiGroup = []\nlet users = []\nlet desc = ''\nnewPayload['appId'] = ''\nnewPayload['mac'] = macInfo\nnewPayload['terGroup'] = actInfo['terGroup']\nnewPayload['recv'] = msg['nowTime']\nnewPayload['description'] = pushContent\n\nfor(let i = 0 ; i < msg.payload.length ; i++){\n  if(Array.isArray(msg.payload[i])){\n    let arrayObj = msg.payload[i]\n    for(let j = 0 ; j < arrayObj.length ; j++){\n      if(arrayObj[j].notification_account !== undefined){\n        let userObj = {}\n        let userObjs = []\n        let userinfo = {}\n        userinfo['method'] = arrayObj[j].notification_method\n        userinfo['account'] = arrayObj[j].notification_account \n        userObjs.push(userinfo)\n        userObj['object'+i] = userObjs\n        users.push(userObj)  \n      }\n    }\n  }\n  else{\n    if(msg.payload[i].notification_account !== undefined){\n      let userObj = {}\n      let userObjs = []\n      let userinfo = {}\n      userinfo['method'] = msg.payload[i].notification_method\n      userinfo['account'] = msg.payload[i].notification_account \n      userObjs.push(userinfo)\n      userObj['object'+i] = userObjs\n      users.push(userObj)  \n    }\n  }\n}\nlet grp = {}\ngrp[actInfo.notifyGroup] = users\nnotiGroup.push(grp)\nnewPayload['notiGroup'] = notiGroup\nif(msg['template'] !== undefined && msg['template'] !== -1){\n  let d = {}\n  let devices = []\n  for( let i = 0 ; i < msg['pushMsgs'].length ; i++){\n    let obj = {}\n    obj = msg['pushMsgs'][i]\n    delete obj['pushMsg']\n    devices.push(obj)\n  }\n  d['template'] = msg['template']\n  d['devices'] = devices\n  newPayload['extra'] = d\n} else {\n  newPayload['extra'] = {}    \n}\ndelete msg.topic\nmsg.payload = newPayload\nnode.warn(JSON.stringify(newPayload))\nreturn msg\n","outputs":1,"noerr":0,"x":1590,"y":180,"wires":[["8da16a58.21b908"]]},{"id":"8da16a58.21b908","type":"switch","z":"233e6c81.dce284","name":"","property":"payload.description.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":1750,"y":180,"wires":[["a164d31f.8d325","98679365.1f2e1"],["c100cc08.eec83"]]},{"id":"c100cc08.eec83","type":"function","z":"233e6c81.dce284","name":"set missing description","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'missing description'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1790,"y":260,"wires":[["e7ba76f8.0549e8"]]},{"id":"a164d31f.8d325","type":"function","z":"233e6c81.dce284","name":"set result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'push success'\nnewPayload['responseCode'] = '000'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1960,"y":180,"wires":[["e7ba76f8.0549e8"]]},{"id":"98679365.1f2e1","type":"amqp2 out","z":"233e6c81.dce284","name":"","iotype":"0","ioname":"amp.jingdfh-test.listener.exc","server":"7cd22f0b.3f9c4","x":2000,"y":80,"wires":[]},{"id":"81743317.f83c3","type":"switch","z":"233e6c81.dce284","name":"check pushMsgs size","property":"pushMsgs.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":320,"y":540,"wires":[["ee740662.24c148"],["af893477.aa2528"]]},{"id":"af893477.aa2528","type":"function","z":"233e6c81.dce284","name":"set missing parameter","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no push msg found'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":740,"y":400,"wires":[[]]},{"id":"105837f5.7870d8","type":"split","z":"233e6c81.dce284","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":150,"y":320,"wires":[["7b8e844e.6fafac"]]},{"id":"643d6c30.ad0984","type":"function","z":"233e6c81.dce284","name":"set pushMsgs to payload","func":"let newPayload = msg['pushMsgs']\nmsg.payload = newPayload\ndelete msg.tmpRule\ndelete msg.condFlg\ndelete msg.eventFlg\ndelete msg.events\ndelete msg.pushFlg\nreturn msg","outputs":1,"noerr":0,"x":170,"y":440,"wires":[["fffc9e21.67979"]]},{"id":"7b8e844e.6fafac","type":"function","z":"233e6c81.dce284","name":"set info to push","func":"let sqlStr = ''\nlet pushInfo = msg.template !== -1 ? msg.payload[0]['pushMsg'] : msg.payload['pushMsg']\nlet macInfo = msg.template !== -1 ? msg.payload[0]['mac'] : msg.payload['mac']\nsqlStr = 'select rr.notification_group_id, tg.group_name as terGroup, ng.group_name as notifyGroup from ( select * from notification_terminal_relation where terminal_group_id = (select terminal_group_id from terminal where mac = \"' + macInfo + '\"))rr left join terminal_group tg on rr.terminal_group_id = tg.id left join notification_group ng on rr.notification_group_id = ng.id'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nmsg['pushContent'] = pushInfo\nmsg['macInfo'] = macInfo\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":140,"y":280,"wires":[["68670702.2b3398"]]},{"id":"e7ba76f8.0549e8","type":"join","z":"233e6c81.dce284","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1990,"y":320,"wires":[[]]},{"id":"74e3af1c.c5e05","type":"subflow:233e6c81.dce284","z":"1ae34926.0962b7","x":840,"y":120,"wires":[["c8eb04c.7532ef8"]]},{"id":"6a73d505.85333c","type":"moment","z":"233e6c81.dce284","name":"","topic":"","input":"nowTime","inputType":"msg","inTz":"ETC/GMT","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"nowTime","outputType":"msg","outTz":"Asia/Taipei","x":380,"y":480,"wires":[["643d6c30.ad0984"]]},{"id":"ee740662.24c148","type":"function","z":"233e6c81.dce284","name":"set nowTime","func":"let d = new Date()\nmsg['nowTime'] = d.toISOString()\nreturn msg","outputs":1,"noerr":0,"x":160,"y":480,"wires":[["6a73d505.85333c"]]},{"id":"ed434c6a.06d63","type":"http in","z":"a36f9e75.36f4e","name":"","url":"/alert","method":"get","upload":false,"swaggerDoc":"","x":160,"y":440,"wires":[["8bad1a50.8cedd8"]]},{"id":"8bad1a50.8cedd8","type":"switch","z":"a36f9e75.36f4e","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":163.5,"y":388.9999523162842,"wires":[["8d78de69.2adfb"],["75336dd.a746694"]]},{"id":"8d78de69.2adfb","type":"function","z":"a36f9e75.36f4e","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":160,"y":340,"wires":[["cec3111b.fb509"]]},{"id":"947e982e.710e68","type":"function","z":"a36f9e75.36f4e","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.fport !== undefined){\n  newPayload['fport'] = parseInt(obj.fport)\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":184.49999237060547,"y":127.99999332427979,"wires":[["f18e019a.a8401"]]},{"id":"f18e019a.a8401","type":"mongodb in","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"find alert data Cnt","collection":"alert","operation":"count","x":190,"y":80,"wires":[["854f6e49.d0f5f"]]},{"id":"75336dd.a746694","type":"function","z":"a36f9e75.36f4e","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":491.50000762939453,"y":396.9999990463257,"wires":[["e22ec618.bf1dd8"]]},{"id":"e22ec618.bf1dd8","type":"http response","z":"a36f9e75.36f4e","name":"","statusCode":"","headers":{},"x":1003.0000038146973,"y":329.99999713897705,"wires":[]},{"id":"854f6e49.d0f5f","type":"switch","z":"a36f9e75.36f4e","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":377.50000381469727,"y":76.9999942779541,"wires":[["78a6cb60.7e0534"],["8d63164b.ee3258"]]},{"id":"8d63164b.ee3258","type":"function","z":"a36f9e75.36f4e","name":"set empty result","func":"let newPayload = {}\nlet dataList = []\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = 0\nnewPayload['data'] = dataList\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":547.5000076293945,"y":133.99999523162842,"wires":[["e22ec618.bf1dd8"]]},{"id":"78a6cb60.7e0534","type":"function","z":"a36f9e75.36f4e","name":"set search cond to get data","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nif(obj.fport){\n  newPayload['fport'] = parseInt(obj.fport)\n}\nlet paginate = true\nif(obj.paginate){\n  paginate = (obj.paginate === 'true')\n}\nlet page_limit = 10\nif(obj.limit){\n  page_limit = obj.limit\n}\nlet page = 1\nif(obj.page){\n  page = obj.page\n}\nlet offset = (page-1) * page_limit\nlet nextPage = Number(page) + 1\nlet previous = 1\nif(page != 1)\n  previous = Number(page)-1\nelse\n  previous = Number(page)\nif(paginate){\n  msg['limit'] = page_limit\n  msg['skip'] = offset\n}\nlet sort = {}\nsort['createTs'] = -1\nif(obj.sort && obj.sort == 'asc'){\n  sort['createTs'] = 1\n}\nmsg['sort'] = sort\nobj['next'] = nextPage\nobj['previous'] = previous\nobj['page_limit'] = page_limit\nobj['total'] = msg.payload\n// flow.set('actInfo', obj)\nmsg['actInfo'] = obj\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":578.5,"y":51.999993324279785,"wires":[["d96773de.e5dcf"]]},{"id":"d96773de.e5dcf","type":"mongodb in","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"find alert data","collection":"alert","operation":"find","x":818.5000114440918,"y":48.999993324279785,"wires":[["11024ad5.598fd5"]]},{"id":"11024ad5.598fd5","type":"function","z":"a36f9e75.36f4e","name":"set final result","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nlet pageInfo = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = Number(obj['total'])\npageInfo['next'] = obj['next']\npageInfo['previous'] = obj['previous']\npageInfo['limit'] = obj['page_limit']\nnewPayload['pages'] = pageInfo\nnewPayload['data'] = msg.payload\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":880,"y":140,"wires":[["e22ec618.bf1dd8"]]},{"id":"da8e5eb7.f12fa","type":"http in","z":"a36f9e75.36f4e","name":"","url":"/alert","method":"post","upload":false,"swaggerDoc":"","x":140,"y":1060,"wires":[["f21eec55.89c78","bcddf42d.d60c28"]]},{"id":"f21eec55.89c78","type":"switch","z":"a36f9e75.36f4e","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":1020,"wires":[["31d33eac.812ce2"],["efc3ddd0.ac0e3"]]},{"id":"a6beab2b.18dad8","type":"function","z":"a36f9e75.36f4e","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":140,"y":940,"wires":[["8f97a081.43a21","218086f5.9d98ba"]]},{"id":"efc3ddd0.ac0e3","type":"function","z":"a36f9e75.36f4e","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":476.50000762939453,"y":984.8000192642212,"wires":[["8031ebbe.3b7698"]]},{"id":"8031ebbe.3b7698","type":"http response","z":"a36f9e75.36f4e","name":"","statusCode":"","headers":{},"x":1510,"y":840,"wires":[]},{"id":"31d33eac.812ce2","type":"switch","z":"a36f9e75.36f4e","name":"check data","property":"payload.data","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":980,"wires":[["a6beab2b.18dad8"],["efc3ddd0.ac0e3"]]},{"id":"73b9b61.f390848","type":"function","z":"a36f9e75.36f4e","name":"set id to parameter","func":"let actInfo = msg['actInfo']\nif(actInfo.data._id !== undefined){\n  msg['_id'] = actInfo.data._id  \n}else{\n  msg['_id'] = 'NA'\n}\nreturn msg","outputs":1,"noerr":0,"x":150,"y":760,"wires":[["bf7ddfdd.07575"]]},{"id":"bf7ddfdd.07575","type":"switch","z":"a36f9e75.36f4e","name":"check id exists","property":"_id","propertyType":"msg","rules":[{"t":"neq","v":"NA","vt":"str"},{"t":"eq","v":"NA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":720,"wires":[["e9a899ca.57daa8"],["9b5cd4a.31a0d28"]]},{"id":"9b5cd4a.31a0d28","type":"function","z":"a36f9e75.36f4e","name":"set deviceType error","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'Alert rule not exists'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":500,"y":740,"wires":[["8031ebbe.3b7698"]]},{"id":"2c23703e.6c7dc","type":"function","z":"a36f9e75.36f4e","name":"set search cond to get cnt","func":"let newPayload = {}\nnewPayload['_id'] = msg['_id']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":370,"y":540,"wires":[["df9f9eae.b78d7"]]},{"id":"50110661.fc8238","type":"mongodb in","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"find alert by id","collection":"alert","operation":"find","x":700,"y":560,"wires":[["2d4c442b.2ea07c"]]},{"id":"2d4c442b.2ea07c","type":"switch","z":"a36f9e75.36f4e","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":870,"y":560,"wires":[["79245edf.8c9d"],["15285687.90c009"]]},{"id":"565088ec.f2a438","type":"http in","z":"a36f9e75.36f4e","name":"","url":"/alert/:id","method":"delete","upload":false,"swaggerDoc":"","x":180,"y":1580,"wires":[["e0cbeb91.6bb798"]]},{"id":"e0cbeb91.6bb798","type":"switch","z":"a36f9e75.36f4e","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":190,"y":1540,"wires":[["8f70d07.5692c3"],["9ca7b078.ce904"]]},{"id":"8f70d07.5692c3","type":"function","z":"a36f9e75.36f4e","name":"set para to obj","func":"msg.payload['id'] = msg.req.params.id\nmsg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":170.99999237060547,"y":1494.7999935150146,"wires":[["9340e606.d4ac28"]]},{"id":"b8f9240d.c2e328","type":"function","z":"a36f9e75.36f4e","name":"set search cond to get cnt","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nnewPayload['_id'] = obj.id\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":181.99999237060547,"y":1294.8000354766846,"wires":[["c5de0438.95a4b8"]]},{"id":"93fa4671.794788","type":"mongodb in","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"find alert data by id","collection":"alert","operation":"find","x":190,"y":1220,"wires":[["bf9d7369.cdd47"]]},{"id":"9ca7b078.ce904","type":"function","z":"a36f9e75.36f4e","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":430,"y":1520,"wires":[["fadd90b6.e2543"]]},{"id":"bf9d7369.cdd47","type":"switch","z":"a36f9e75.36f4e","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":370,"y":1200,"wires":[["d1993c4c.f6dfe"],["3c0a11db.a9c04e"]]},{"id":"3c0a11db.a9c04e","type":"function","z":"a36f9e75.36f4e","name":"set empty result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'no alert to delete'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":560,"y":1240,"wires":[["fadd90b6.e2543"]]},{"id":"d1993c4c.f6dfe","type":"function","z":"a36f9e75.36f4e","name":"set search cond to get data to del","func":"let newPayload = {}\nnewPayload['_id'] = msg.payload[0]._id\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":620,"y":1180,"wires":[["ffd8a37e.64182","d871fe84.75011"]]},{"id":"d871fe84.75011","type":"function","z":"a36f9e75.36f4e","name":"set final result","func":"// let obj = flow.get('actInfo')\nlet newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'delete success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":900,"y":1240,"wires":[["fadd90b6.e2543"]]},{"id":"fadd90b6.e2543","type":"http response","z":"a36f9e75.36f4e","name":"","statusCode":"","headers":{},"x":924.0000123977661,"y":1475.4000635147095,"wires":[]},{"id":"ffd8a37e.64182","type":"mongodb out","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"delete alert by id","collection":"alert","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":910,"y":1160,"wires":[]},{"id":"eb7a502c.dc409","type":"function","z":"a36f9e75.36f4e","name":"set info to insert","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\ndelete obj.data['_id']\ndelete msg['_id']\nobj.data['createTs'] = msg['nowTs']\nobj.data['createTime'] = msg['nowTime']\nnewPayload = obj['data']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":440,"y":640,"wires":[["93221ced.828af","46bdb837.1ab998"]]},{"id":"93221ced.828af","type":"mongodb out","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"insert alert info","collection":"alert","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":760,"y":640,"wires":[]},{"id":"46bdb837.1ab998","type":"function","z":"a36f9e75.36f4e","name":"set final result","func":"// let obj = flow.get('actInfo')\nlet newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'insert success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":780,"y":700,"wires":[["8031ebbe.3b7698"]]},{"id":"10624e42.aaadc2","type":"mongodb out","z":"a36f9e75.36f4e","mongodb":"e7addad9.34e368","name":"upadte alert info","collection":"alert","payonly":true,"upsert":false,"multi":true,"operation":"store","x":1323.0999946594238,"y":536.0000014305115,"wires":[]},{"id":"79245edf.8c9d","type":"function","z":"a36f9e75.36f4e","name":"set info to update","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nobj.data['updateTs'] = msg['nowTs']\nobj.data['updateTime'] = msg['nowTime']\nnewPayload = obj['data']\nnewPayload['createTs'] = msg.payload[0].createTs\nnewPayload['createTime'] = msg.payload[0].createTime\nnewPayload['_id'] = msg.payload[0]._id\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1107.1000671386719,"y":586.0000009536743,"wires":[["10624e42.aaadc2","16b18f50.69b351"]]},{"id":"16b18f50.69b351","type":"function","z":"a36f9e75.36f4e","name":"set final result","func":"// let obj = flow.get('actInfo')\nlet newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'update success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1320.0999908447266,"y":607.0000019073486,"wires":[["8031ebbe.3b7698"]]},{"id":"df9f9eae.b78d7","type":"objectid","z":"a36f9e75.36f4e","name":"","selectedProperty":"_id","x":550,"y":600,"wires":[["50110661.fc8238"]]},{"id":"f44ed6b2.fea408","type":"moment","z":"a36f9e75.36f4e","name":"","topic":"","input":"nowTime","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"nowTime","outputType":"msg","outTz":"Asia/Taipei","x":160,"y":640,"wires":[["592c2fcc.c056a"]]},{"id":"c5de0438.95a4b8","type":"objectid","z":"a36f9e75.36f4e","name":"","selectedProperty":"_id","x":170,"y":1260,"wires":[["93fa4671.794788"]]},{"id":"592c2fcc.c056a","type":"switch","z":"a36f9e75.36f4e","name":"check action","property":"_id","propertyType":"msg","rules":[{"t":"neq","v":"-1","vt":"str"},{"t":"eq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":170,"y":600,"wires":[["2c23703e.6c7dc"],["eb7a502c.dc409"]]},{"id":"e9a899ca.57daa8","type":"function","z":"a36f9e75.36f4e","name":"set nowTime","func":"msg['nowTime'] = new Date()\nmsg['nowTs'] = Math.floor(Date.now() / 1000)\nreturn msg","outputs":1,"noerr":0,"x":150,"y":680,"wires":[["f44ed6b2.fea408"]]},{"id":"15285687.90c009","type":"function","z":"a36f9e75.36f4e","name":"set deviceType error","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'Alert rule not exists'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1120,"y":640,"wires":[["8031ebbe.3b7698"]]},{"id":"cec3111b.fb509","type":"http request","z":"a36f9e75.36f4e","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":170,"y":300,"wires":[["ef4526dc.25e998"]]},{"id":"ef4526dc.25e998","type":"function","z":"a36f9e75.36f4e","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":165,"y":243,"wires":[["3ae91b2c.2cec24"]]},{"id":"3ae91b2c.2cec24","type":"switch","z":"a36f9e75.36f4e","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":164,"y":194,"wires":[["947e982e.710e68"],["2570a835.9f6a48"]]},{"id":"2570a835.9f6a48","type":"http response","z":"a36f9e75.36f4e","name":"","statusCode":"","headers":{},"x":369.5,"y":192,"wires":[]},{"id":"8f97a081.43a21","type":"http request","z":"a36f9e75.36f4e","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":130,"y":900,"wires":[["58312947.4ca8d8"]]},{"id":"58312947.4ca8d8","type":"function","z":"a36f9e75.36f4e","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":145,"y":863,"wires":[["70b05518.4d9f0c"]]},{"id":"70b05518.4d9f0c","type":"switch","z":"a36f9e75.36f4e","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":144,"y":814,"wires":[["73b9b61.f390848"],["c1c2629c.e1ec5"]]},{"id":"c1c2629c.e1ec5","type":"http response","z":"a36f9e75.36f4e","name":"","statusCode":"","headers":{},"x":349.5,"y":812,"wires":[]},{"id":"9340e606.d4ac28","type":"http request","z":"a36f9e75.36f4e","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":170,"y":1440,"wires":[["785d305b.65b8c"]]},{"id":"785d305b.65b8c","type":"function","z":"a36f9e75.36f4e","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":185,"y":1403,"wires":[["7210ff0a.ff649"]]},{"id":"7210ff0a.ff649","type":"switch","z":"a36f9e75.36f4e","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":184,"y":1354,"wires":[["b8f9240d.c2e328"],["165fe1d2.46f1be"]]},{"id":"165fe1d2.46f1be","type":"http response","z":"a36f9e75.36f4e","name":"","statusCode":"","headers":{},"x":389.5,"y":1352,"wires":[]},{"id":"218086f5.9d98ba","type":"debug","z":"a36f9e75.36f4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":410,"y":880,"wires":[]},{"id":"bcddf42d.d60c28","type":"debug","z":"a36f9e75.36f4e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":460,"y":1100,"wires":[]},{"id":"11e51e24.412ef2","type":"split","z":"233e6c81.dce284","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":450,"y":20,"wires":[["610adc0e.c13254"]]},{"id":"32aca3fa.ea74ec","type":"switch","z":"233e6c81.dce284","name":"check LINEFlg","property":"LINEFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":780,"y":120,"wires":[["36c10373.59ce0c"],["3538eb57.4e8314"]]},{"id":"408ee776.9ad368","type":"join","z":"233e6c81.dce284","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1430,"y":180,"wires":[["cabd3528.34c118"]]},{"id":"36c10373.59ce0c","type":"function","z":"233e6c81.dce284","name":"set payload to get token","func":"let accObj = msg.payload\nlet newPayload = {}\nnewPayload['userId'] = ''+accObj['notification_account']\nmsg['notification_method'] = accObj['notification_method']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":930,"y":20,"wires":[["d28b510f.9255f"]]},{"id":"453d8fca.13d44","type":"function","z":"233e6c81.dce284","name":"set token to account","func":"let pushMethod = msg['notification_method']\nlet newPayload = {}\nnewPayload['notification_method'] = pushMethod\nif(msg.payload.length > 0){\n  tokenObj = msg.payload[0]\n  if(msg['LINEFlg'] && tokenObj['LINE'] !== undefined)\n    newPayload['notification_account'] = tokenObj['LINE']\n  if(msg['FreePPFlg'] && tokenObj['FREEPP'] !== undefined)\n    newPayload['notification_account'] = tokenObj['FREEPP']\n  if(msg['AppFlg'] && tokenObj['FIREBASE'] !== undefined){\n    let tokenList = tokenObj['FIREBASE']\n    if(tokenList.length > 0){\n      newPayload = tokenList\n      /*\n      if(tokenList.length == 1){\n        newPayload['notification_account'] = tokenList[0]\n      }else{\n        let concatStr = ''\n        for(let i = 0 ; i < tokenList.length ; i++){\n          concatStr += tokenList[i] + '@'\n        }\n        newPayload['notification_account'] = concatStr\n      }\n      */\n    }\n  }\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1380,"y":20,"wires":[["73b6e16.b66f12"]]},{"id":"d28b510f.9255f","type":"mongodb in","z":"233e6c81.dce284","mongodb":"e7addad9.34e368","name":"find user data","collection":"users","operation":"find","x":1160,"y":20,"wires":[["453d8fca.13d44"]]},{"id":"610adc0e.c13254","type":"function","z":"233e6c81.dce284","name":"set LINEFlg,AppFlg,FreePPFlg","func":"let LINEFlg = msg.payload['notification_method'] == 'LINE'?true:false\nlet AppFlg = msg.payload['notification_method'] == 'APP'?true:false\nlet FreePPFlg = msg.payload['notification_method'] == 'FreePP'?true:false\nmsg['LINEFlg'] = LINEFlg\nmsg['AppFlg'] = AppFlg\nmsg['FreePPFlg'] = FreePPFlg\nreturn msg","outputs":1,"noerr":0,"x":570,"y":80,"wires":[["32aca3fa.ea74ec"]]},{"id":"3538eb57.4e8314","type":"switch","z":"233e6c81.dce284","name":"check AppFlg","property":"AppFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":900,"y":180,"wires":[["36c10373.59ce0c"],["1794f223.fa9a9e"]]},{"id":"73b6e16.b66f12","type":"switch","z":"233e6c81.dce284","name":"check AppFlg","property":"AppFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1220,"y":80,"wires":[["65c61b56.018464"],["408ee776.9ad368"]]},{"id":"65c61b56.018464","type":"split","z":"233e6c81.dce284","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1450,"y":80,"wires":[["6b099b71.057054"]]},{"id":"6b099b71.057054","type":"function","z":"233e6c81.dce284","name":"set app token to account","func":"let pushMethod = msg['notification_method']\nlet newPayload = {}\nnewPayload['notification_method'] = pushMethod\nnewPayload['notification_account'] = msg.payload\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1650,"y":100,"wires":[["163bbd24.c83d53"]]},{"id":"163bbd24.c83d53","type":"join","z":"233e6c81.dce284","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1430,"y":140,"wires":[["408ee776.9ad368"]]},{"id":"f5e7b7eb.f24858","type":"switch","z":"1ae34926.0962b7","name":"check fport","property":"fport","propertyType":"msg","rules":[{"t":"neq","v":"165","vt":"str"},{"t":"eq","v":"165","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":130,"y":900,"wires":[["f5c8ed63.727f"],["6c980c1b.e55a24"]]},{"id":"b81479ca.61f708","type":"function","z":"38b9e633.725b9a","name":"set macAddr to get metadata","func":"let actInfo = msg['actInfo']\nlet newPayload = {}\nnewPayload['type'] = 'meta'\nnewPayload['showFlg'] = 1\nnewPayload['macAddr'] = actInfo.data.macAddr\nnewPayload['fport'] = actInfo.data.extra.fport\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":240,"y":60,"wires":[["be604190.eae05"]]},{"id":"be604190.eae05","type":"mongodb in","z":"38b9e633.725b9a","mongodb":"d49bcdbd.e4e17","name":"get metadata by mac","collection":"metadata","operation":"find","x":240,"y":120,"wires":[["aa58bd00.83ffa"]]},{"id":"aa58bd00.83ffa","type":"function","z":"38b9e633.725b9a","name":"set meta to actInfo and get taginfo","func":"let actInfo = msg['actInfo']\nlet dataInfo = actInfo.data\nlet deviceInfo = {}\nlet newPayload = {}\nif( msg.payload.length > 0 ){\n  deviceInfo = msg.payload[0].meta\n}\ndataInfo['meta'] = deviceInfo\nactInfo['data'] = dataInfo\nmsg['actInfo'] = actInfo\nif(dataInfo.information.order !== undefined)\n  newPayload['_id'] = dataInfo.information.order\nif(dataInfo.information.eid !== undefined)\n  newPayload['_id'] = dataInfo.information.eid\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":520,"y":120,"wires":[["f189a5d7.8b56d8"]]},{"id":"f189a5d7.8b56d8","type":"mongodb in","z":"38b9e633.725b9a","mongodb":"d49bcdbd.e4e17","name":"get tag by _id","collection":"tags","operation":"find","x":340,"y":180,"wires":[["99c1500c.25f4a"]]},{"id":"99c1500c.25f4a","type":"function","z":"38b9e633.725b9a","name":"set tag info","func":"let actInfo = msg['actInfo']\nlet dataInfo = actInfo.data\nlet tagInfo = {}\nif( msg.payload.length > 0 ){\n  tagInfo = msg.payload[0]\n}\ndataInfo['tag'] = tagInfo\nactInfo['data'] = dataInfo\nmsg['actInfo'] = actInfo\nreturn msg","outputs":1,"noerr":0,"x":530,"y":180,"wires":[[]]},{"id":"6c980c1b.e55a24","type":"subflow:38b9e633.725b9a","z":"1ae34926.0962b7","x":400,"y":880,"wires":[["f5c8ed63.727f"]]},{"id":"ab7f6a02.76b9f8","type":"debug","z":"1ae34926.0962b7","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":890,"y":40,"wires":[]},{"id":"bc4ce09d.31548","type":"switch","z":"1ae34926.0962b7","name":"check dataSrc","property":"dataSrc","propertyType":"msg","rules":[{"t":"eq","v":"event","vt":"str"},{"t":"eq","v":"state","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":560,"wires":[["4d0e3fb3.90baf"],["7d001c2c.6bc944"]]},{"id":"7d001c2c.6bc944","type":"function","z":"1ae34926.0962b7","name":"set find state","func":"let actInfo = msg['actInfo']\nlet page_limit = parseInt(msg['limit'])+1\nlet newPayload = {}\nlet sort = {}\nsort['createTs'] = -1\nnewPayload['macAddr'] = actInfo.data.macAddr\nnewPayload['extra.fport'] = actInfo.data.extra.fport\nmsg['limit'] = page_limit\nmsg['sort'] = sort\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":330,"y":580,"wires":[["5d30b5a5.d68a3c"]]},{"id":"5d30b5a5.d68a3c","type":"mongodb in","z":"1ae34926.0962b7","mongodb":"d49bcdbd.e4e17","name":"","collection":"state","operation":"find","x":570,"y":580,"wires":[["5ea21f8e.e6de3"]]},{"id":"5ea21f8e.e6de3","type":"switch","z":"1ae34926.0962b7","name":"check result","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":830,"y":540,"wires":[["3a4d8b92.eb10b4"],["bdeed5d2.858808"]]},{"id":"bdeed5d2.858808","type":"function","z":"1ae34926.0962b7","name":"set missing raw data","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no raw data found'\nnewPayload['responseCode'] = '404'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1160,"y":480,"wires":[["92e49e8a.d5683"]]},{"id":"fc3b6d09.aa30f","type":"switch","z":"1ae34926.0962b7","name":"check pushFlg","property":"pushFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":400,"wires":[["759cbf58.efc3c"],["806ddacc.20ce28"]]},{"id":"759cbf58.efc3c","type":"function","z":"1ae34926.0962b7","name":"get actions","func":"let tmpRule = msg['tmpRule']\nlet actions = tmpRule['actions']\nlet newPayload = {}\nif (actions !== undefined) {\n  newPayload = actions\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":110,"y":340,"wires":[["f5fa7179.b0628"]]},{"id":"f5fa7179.b0628","type":"split","z":"1ae34926.0962b7","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":110,"y":300,"wires":[["1cfd2c74.702fa4","42fcbaa4.bb9f44"]]},{"id":"806ddacc.20ce28","type":"function","z":"1ae34926.0962b7","name":"set no alert trigger","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no trigger activate'\nnewPayload['responseCode'] = '000'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":850,"y":420,"wires":[["8bcc0fc4.db1f2"]]},{"id":"1cfd2c74.702fa4","type":"switch","z":"1ae34926.0962b7","name":"check action type","property":"payload.type","propertyType":"msg","rules":[{"t":"eq","v":"N","vt":"str"},{"t":"eq","v":"W","vt":"str"},{"t":"eq","v":"M","vt":"str"},{"t":"eq","v":"A","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":5,"x":130,"y":220,"wires":[["a636d4e6.44fcf8"],["39a6d8f9.9495a8"],["d39db61b.320d28"],["d1e48ca3.d8d8"],["17d0e9be.16af46"]]},{"id":"39a6d8f9.9495a8","type":"function","z":"1ae34926.0962b7","name":"set push msg to webhook","func":"let newPayload = {}\nlet tmpRule = msg['tmpRule']\nlet actInfo = msg['actInfo']\nlet tmpAction = msg.payload\nlet paras = tmpAction['paras']\nlet webhookUrl = ''\nwebhookUrl = varReplace(tmpAction['url'], actInfo.data)\nfor (var key in paras) {\n  if (paras.hasOwnProperty(key)) {\n    node.warn(key + \": \" + paras[key]);\n    newPayload[key] = varReplace(paras[key], actInfo.data)\n  }\n}\nif (tmpAction['headers'] !== undefined)\n  msg['headers'] = tmpAction['headers']\nmsg['url'] = webhookUrl\nmsg['method'] = tmpAction['method']\nmsg.payload = newPayload\nreturn msg\nfunction varReplace(msg, actInfo){\n  let stPos = 0, edPos = 0, subStr = '', replaceWord = ''\n  while(msg.indexOf('{{') > -1 && msg.indexOf('}}') > -1){\n    stPos = msg.indexOf('{{')\n    edPos = msg.indexOf('}}')\n    subStr = msg.substring(stPos+2, edPos)\n    replaceWord = getVal(subStr, actInfo)\n    msg = msg.replace('{{'+subStr+'}}', replaceWord);    \n   }\n  return msg\n}\nfunction getVal(fieldName, actInfo){\n  let reVal = ''\n  if(fieldName.indexOf('.') > -1){\n    let eventArray = fieldName.split('.')\n    let tempObj = actInfo\n    for(let i = 0 ; i < eventArray.length ; i++){\n      if(i < eventArray.length -1){\n        tempObj = tempObj[eventArray[i]]\n      }else{\n        reVal = tempObj[eventArray[i]]\n      }\n    }\n  }else{\n    reVal = actInfo[fieldName]\n  }\n  return reVal\n}","outputs":1,"noerr":0,"x":370,"y":200,"wires":[["69afd8ed.04caa8","c8b28b7f.a094b8"]]},{"id":"d39db61b.320d28","type":"function","z":"1ae34926.0962b7","name":"set push msg to mqtt","func":"let newPayload = {}\nlet tmpRule = msg['tmpRule']\nlet actInfo = msg['actInfo']\nlet tmpAction = msg.payload\nlet pushMsg = ''\nlet pushTopic = ''\npushTopic = varReplace(tmpAction['topic'], actInfo.data)\npushMsg = varReplace(tmpAction['payload'], actInfo.data)\nmsg['topic'] = pushTopic\nmsg.payload = pushMsg\nreturn msg\nfunction varReplace(msg, actInfo){\n  let stPos = 0, edPos = 0, subStr = '', replaceWord = ''\n  while(msg.indexOf('{{') > -1 && msg.indexOf('}}') > -1){\n    stPos = msg.indexOf('{{')\n    edPos = msg.indexOf('}}')\n    subStr = msg.substring(stPos+2, edPos)\n    replaceWord = getVal(subStr, actInfo)\n    msg = msg.replace('{{'+subStr+'}}', replaceWord);    \n   }\n  return msg\n}\nfunction getVal(fieldName, actInfo){\n  let reVal = ''\n  if(fieldName.indexOf('.') > -1){\n    let eventArray = fieldName.split('.')\n    let tempObj = actInfo\n    for(let i = 0 ; i < eventArray.length ; i++){\n      if(i < eventArray.length -1){\n        tempObj = tempObj[eventArray[i]]\n      }else{\n        reVal = tempObj[eventArray[i]]\n      }\n    }\n  }else{\n    reVal = actInfo[fieldName]\n  }\n  return reVal\n}","outputs":1,"noerr":0,"x":400,"y":260,"wires":[["8d4819e7.35c498","c1d63de8.009fa"]]},{"id":"17d0e9be.16af46","type":"function","z":"1ae34926.0962b7","name":"set no alert trigger","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'action type undefined type:' + msg.payload.type\nnewPayload['responseCode'] = '403'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":410,"y":340,"wires":[["c8eb04c.7532ef8","e77cd1d9.ccf41"]]},{"id":"c8eb04c.7532ef8","type":"join","z":"1ae34926.0962b7","name":"action join","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":false,"timeout":"","count":"","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"","reduceFixup":"","x":1010,"y":300,"wires":[["8bcc0fc4.db1f2","66a396fc.78d968"]]},{"id":"8d4819e7.35c498","type":"mqtt out","z":"1ae34926.0962b7","name":"","topic":"","qos":"0","retain":"false","broker":"3e737fd8.c3cfe","x":650,"y":290,"wires":[]},{"id":"c1d63de8.009fa","type":"function","z":"1ae34926.0962b7","name":"set publish success","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'mqtt action success'\nnewPayload['responseCode'] = '000'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":650,"y":260,"wires":[["c8eb04c.7532ef8"]]},{"id":"bb7b025f.764b5","type":"function","z":"1ae34926.0962b7","name":"set publish success","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'web hook action success'\nnewPayload['webhookResult'] = msg.payload\nnewPayload['responseCode'] = '000'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":770,"y":220,"wires":[["c8eb04c.7532ef8"]]},{"id":"69afd8ed.04caa8","type":"http request","z":"1ae34926.0962b7","name":"","method":"use","ret":"obj","url":"","tls":"","x":580,"y":220,"wires":[["bb7b025f.764b5","2971d0e5.332a3"]]},{"id":"2971d0e5.332a3","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":750,"y":160,"wires":[]},{"id":"c8b28b7f.a094b8","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":160,"wires":[]},{"id":"3242c589.7dfb9a","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1420,"y":340,"wires":[]},{"id":"66a396fc.78d968","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":1130,"y":240,"wires":[]},{"id":"e77cd1d9.ccf41","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":830,"y":340,"wires":[]},{"id":"42fcbaa4.bb9f44","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":320,"y":380,"wires":[]},{"id":"2988f0d4.c076","type":"debug","z":"1ae34926.0962b7","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":290,"y":720,"wires":[]},{"id":"1794f223.fa9a9e","type":"switch","z":"233e6c81.dce284","name":"check FreePPFlg","property":"FreePPFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1110,"y":200,"wires":[["36c10373.59ce0c"],["408ee776.9ad368"]]},{"id":"14897d11.67af73","type":"http in","z":"10e7c7c8.9546f8","name":"","url":"/notifyUpdate","method":"post","upload":false,"swaggerDoc":"","x":145.5,"y":582,"wires":[["77070de0.46a1d4","208f979d.344028"]]},{"id":"77070de0.46a1d4","type":"switch","z":"10e7c7c8.9546f8","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":126,"y":514,"wires":[["6be5f16d.f4375"],["94462def.fc93c"]]},{"id":"94462def.fc93c","type":"function","z":"10e7c7c8.9546f8","name":"set missing para","func":"let newPayload = {}\nnewPayload['responseCode'] = 404\nnewPayload['responseMsg'] = 'missing parameters'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":412.5,"y":519,"wires":[["137f81e1.6a211e"]]},{"id":"137f81e1.6a211e","type":"http response","z":"10e7c7c8.9546f8","name":"","statusCode":"","headers":{},"x":890,"y":440,"wires":[]},{"id":"fdda06f5.c9f8b8","type":"function","z":"10e7c7c8.9546f8","name":"set token expired","func":"let newPayload = {}\nnewPayload['responseCode'] = '401'\nnewPayload['responseMsg'] = 'Token expired'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":480,"y":320,"wires":[["137f81e1.6a211e"]]},{"id":"208f979d.344028","type":"debug","z":"10e7c7c8.9546f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":384.5,"y":581,"wires":[]},{"id":"6be5f16d.f4375","type":"switch","z":"10e7c7c8.9546f8","name":"check notify","property":"payload.notify","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":123.5,"y":457,"wires":[["48749820.6f4288"],["94462def.fc93c"]]},{"id":"8e6dc38a.8093e","type":"function","z":"10e7c7c8.9546f8","name":"set para to insert user","func":"let newPayload = {}\nnewPayload['_id'] = msg['userId']\nnewPayload['userId'] = msg['userId']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":460,"y":180,"wires":[["36ec5687.69cc6a","f1d4c6c8.535638"]]},{"id":"fea93636.444328","type":"http in","z":"10e7c7c8.9546f8","name":"","url":"/notifyUpdate","method":"delete","upload":false,"swaggerDoc":"","x":157.5,"y":653,"wires":[["77070de0.46a1d4","208f979d.344028"]]},{"id":"a270a5a5.c65fd8","type":"debug","z":"10e7c7c8.9546f8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":390,"y":260,"wires":[]},{"id":"391b02cc.4c632e","type":"function","z":"10e7c7c8.9546f8","name":"set update notify info","func":"let obj = msg.payload[0];\n\nif (isArray(msg.actInfo.notify)) {\n    msg.actInfo.notify.forEach(function(element) {\n        \n        if (element.type === \"FREEPP\") {\n            obj[\"FREEPP\"] = element.token;\n        }\n        \n        if (element.type === \"FIREBASE\") {\n            if (obj[\"FIREBASE\"] && isArray(obj[\"FIREBASE\"])) {\n                if (obj[\"FIREBASE\"].indexOf(element.token) === -1 ) {\n                    obj[\"FIREBASE\"].unshift(element.token);    \n                }\n            } else {\n                obj[\"FIREBASE\"] = [element.token];\n            }\n        }\n    });\n}\n\nmsg.payload = obj;\n\nreturn msg;\n\nfunction isArray(obj){\n    if (typeof obj.forEach === \"function\") {\n        return true\n    }\n    \n    return false;\n}","outputs":1,"noerr":0,"x":920,"y":50,"wires":[["2037e0da.97406"]]},{"id":"dabe2883.d0c678","type":"function","z":"10e7c7c8.9546f8","name":"set update successfully","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'notify update successfully'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":810,"y":160,"wires":[["137f81e1.6a211e"]]},{"id":"9d1148fd.cb1558","type":"function","z":"10e7c7c8.9546f8","name":"set search cond to get user","func":"let newPayload = {}\n\nlet result = msg.payload.split(':')\nif (result && result.length > 2) {\n    newPayload['userId'] = result[2]\n    msg['userId'] = result[2]\n}\n\nmsg.payload = newPayload;\n\nreturn msg;","outputs":1,"noerr":0,"x":170,"y":160,"wires":[["3a0bda7c.d1d146"]]},{"id":"48749820.6f4288","type":"function","z":"10e7c7c8.9546f8","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":130,"y":380,"wires":[["56097107.838d1"]]},{"id":"56097107.838d1","type":"http request","z":"10e7c7c8.9546f8","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":140,"y":320,"wires":[["3e589441.0c8c4c"]]},{"id":"3e589441.0c8c4c","type":"function","z":"10e7c7c8.9546f8","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":135,"y":263,"wires":[["3a56a2a4.d490de","a270a5a5.c65fd8"]]},{"id":"3a56a2a4.d490de","type":"switch","z":"10e7c7c8.9546f8","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":134,"y":214,"wires":[["9d1148fd.cb1558"],["fdda06f5.c9f8b8"]]},{"id":"3a0bda7c.d1d146","type":"mongodb in","z":"10e7c7c8.9546f8","mongodb":"e7addad9.34e368","name":"find user by userId","collection":"users","operation":"find","x":140,"y":100,"wires":[["76e7a0ed.fec88"]]},{"id":"76e7a0ed.fec88","type":"switch","z":"10e7c7c8.9546f8","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":380,"y":100,"wires":[["dabe2883.d0c678","6627ba67.9404d4"],["8e6dc38a.8093e"]]},{"id":"2037e0da.97406","type":"mongodb out","z":"10e7c7c8.9546f8","mongodb":"d49bcdbd.e4e17","name":"","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1240,"y":50,"wires":[]},{"id":"756d6648.04acb8","type":"function","z":"10e7c7c8.9546f8","name":"set delete notify info","func":"let obj = msg.payload[0];\n\nif (isArray(msg.actInfo.notify)) {\n    msg.actInfo.notify.forEach(function(element) {\n        \n        if (element.type === \"FREEPP\" && obj[\"FREEPP\"]) {\n            delete obj[\"FREEPP\"];\n        }\n        \n        if (element.type === \"FIREBASE\") {\n            if (obj[\"FIREBASE\"] && isArray(obj[\"FIREBASE\"])) {\n                let occur = obj[\"FIREBASE\"].indexOf(element.token);\n                if (occur >= 0) {\n                    obj[\"FIREBASE\"].splice(occur, 1);\n                }\n            } \n        }\n    });\n}\n\nmsg.payload = obj;\n\nreturn msg;\n\nfunction isArray(obj){\n    if (typeof obj.forEach === \"function\") {\n        return true\n    }\n    \n    return false;\n}","outputs":1,"noerr":0,"x":920,"y":110,"wires":[["2037e0da.97406"]]},{"id":"6627ba67.9404d4","type":"switch","z":"10e7c7c8.9546f8","name":"","property":"req.method","propertyType":"msg","rules":[{"t":"eq","v":"POST","vt":"str"},{"t":"eq","v":"DELETE","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":640,"y":60,"wires":[["391b02cc.4c632e"],["756d6648.04acb8"]]},{"id":"36ec5687.69cc6a","type":"mongodb out","z":"10e7c7c8.9546f8","mongodb":"d49bcdbd.e4e17","name":"create user mapping","collection":"users","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":720,"y":200,"wires":[]},{"id":"f1d4c6c8.535638","type":"function","z":"10e7c7c8.9546f8","name":"set para to find user","func":"let newPayload = {}\nnewPayload['userId'] = msg['userId']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":640,"y":260,"wires":[["3a0bda7c.d1d146"]]},{"id":"d1e48ca3.d8d8","type":"function","z":"1ae34926.0962b7","name":"set push msg to payload","func":"let newPayload = {}\nlet tmpRule = msg['tmpRule']\nlet actInfo = msg['actInfo']\nlet pushMsg = ''\npushMsg = varReplace(tmpRule['msg'], actInfo.data)\nmsg.payload = pushMsg\nreturn msg\nfunction varReplace(msg, actInfo){\n  let stPos = 0, edPos = 0, subStr = '', replaceWord = ''\n  while(msg.indexOf('{{') > -1 && msg.indexOf('}}') > -1){\n    stPos = msg.indexOf('{{')\n    edPos = msg.indexOf('}}')\n    subStr = msg.substring(stPos+2, edPos)\n    replaceWord = getVal(subStr, actInfo)\n    msg = msg.replace('{{'+subStr+'}}', replaceWord);    \n   }\n  return msg\n}\nfunction getVal(fieldName, actInfo){\n  let reVal = ''\n  if(fieldName.indexOf('.') > -1){\n    let eventArray = fieldName.split('.')\n    let tempObj = actInfo\n    for(let i = 0 ; i < eventArray.length ; i++){\n      if(i < eventArray.length -1){\n        tempObj = tempObj[eventArray[i]]\n      }else{\n        reVal = tempObj[eventArray[i]]\n      }\n    }\n  }else{\n    reVal = actInfo[fieldName]\n  }\n  return reVal\n}","outputs":1,"noerr":0,"x":422,"y":303,"wires":[["d45e6f5f.2ed82","c8eb04c.7532ef8"]]},{"id":"d45e6f5f.2ed82","type":"play audio","z":"1ae34926.0962b7","name":"","voice":"65","x":629.5,"y":388,"wires":[]},{"id":"ed7e73bb.714c6","type":"split","z":"233e6c81.dce284","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":130,"y":140,"wires":[["7f7f7bdc.63c394"]]},{"id":"fffc9e21.67979","type":"switch","z":"233e6c81.dce284","name":"check template","property":"template","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"num"},{"t":"neq","v":"-1","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":160,"y":380,"wires":[["105837f5.7870d8"],["7b8e844e.6fafac"]]}]
