charts/report-svc/flows.json
[{"id":"50351816.addd28","type":"tab","label":"Report Flow","disabled":false,"info":""},{"id":"79cf11e5.76b25","type":"tab","label":"Clean Flow","disabled":false,"info":""},{"id":"9bfcfd67.0ec5e","type":"tab","label":"Tag import Flow","disabled":false,"info":""},{"id":"8a963d5.bfd55c","type":"tab","label":"Report Scheduler Flow","disabled":false,"info":""},{"id":"fd4472a2.ac2c9","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"argi_dev","name":""},{"id":"c99b809c.34646","type":"http in","z":"50351816.addd28","name":"","url":"/rpt","method":"get","upload":false,"swaggerDoc":"","x":145.00001525878906,"y":544.5999908447266,"wires":[["257d910e.aeec3e"]]},{"id":"257d910e.aeec3e","type":"switch","z":"50351816.addd28","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":144.00000762939453,"y":499.5999903678894,"wires":[["f1086a53.d4de88"],["a7c3d3af.0dd96"]]},{"id":"f1086a53.d4de88","type":"function","z":"50351816.addd28","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":137,"y":455.59998893737793,"wires":[["9c2e4061.22e26"]]},{"id":"a7c3d3af.0dd96","type":"function","z":"50351816.addd28","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":485.00000762939453,"y":496.59999084472656,"wires":[["6768f83d.407178"]]},{"id":"fce4ab31.96e488","type":"function","z":"50351816.addd28","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.macAddr){\n  newPayload['macAddr'] = obj.macAddr    \n}\nif(msg['from'] !== undefined && msg['to'] !== undefined ){\n  let dateCond = {}\n  dateCond['$gt'] = new Date(msg['from'])\n  dateCond['$lte'] = new Date(msg['to'])\n  newPayload['recv'] = dateCond\n}\nif(obj.fport){\n  newPayload['extra.fport'] = Number(obj.fport)\n}\n\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":162.99998474121094,"y":161.59999656677246,"wires":[["40f25822.cb38f8","f7a47978.9a5ea8"]]},{"id":"40f25822.cb38f8","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"find raw data Cnt","collection":"devices","operation":"count","x":152.99998474121094,"y":101.59999656677246,"wires":[["f2aef77.5eb9b08","290c5fe4.3ec6e"]]},{"id":"f2aef77.5eb9b08","type":"switch","z":"50351816.addd28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":399.99998474121094,"y":101.59999656677246,"wires":[["504d5a5a.173014"],["7a7dc67e.c933a8"]]},{"id":"7a7dc67e.c933a8","type":"function","z":"50351816.addd28","name":"set empty result","func":"let newPayload = {}\nlet dataList = []\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = 0\nnewPayload['data'] = dataList\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":570.9999847412109,"y":155.59999656677246,"wires":[["6768f83d.407178"]]},{"id":"504d5a5a.173014","type":"function","z":"50351816.addd28","name":"set search cond to get data","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nif(obj.macAddr){\n  newPayload['macAddr'] = obj.macAddr    \n}\nif(obj.fport){\n  newPayload['extra.fport'] = Number(obj.fport)\n}\nif(msg['from'] !== undefined && msg['to'] !== undefined ){\n  let dateCond = {}\n  dateCond['$gt'] = new Date(msg['from'])\n  dateCond['$lte'] = new Date(msg['to'])\n  newPayload['recv'] = dateCond\n}\n\nlet paginate = true\nif(obj['showType'] !== undefined && obj['showType'] == 'xls'){\n  paginate = false\n}\nif(obj.paginate){\n  paginate = (obj.paginate === 'true')\n}\nlet page_limit = 10\nif(obj.limit){\n  page_limit = obj.limit\n}\nlet page = 1\nif(obj.page){\n  page = obj.page\n}\nlet offset = (page-1) * page_limit\nlet nextPage = Number(page) + 1\nlet previous = 1\nif(page != 1)\n  previous = Number(page)-1\nelse\n  previous = Number(page)\nif(paginate){\n  msg['limit'] = page_limit\n  msg['skip'] = offset\n}\nlet sort = {}\nsort['recv'] = -1\nif(obj.sort && obj.sort == 'asc'){\n  sort['recv'] = 1\n}\nmsg['sort'] = sort\nobj['next'] = nextPage\nobj['previous'] = previous\nobj['page_limit'] = page_limit\nobj['total'] = msg.payload\n// flow.set('actInfo', obj)\nmsg['actInfo'] = obj\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":594.9999847412109,"y":60.59999656677246,"wires":[["adb10ed9.8831e"]]},{"id":"adb10ed9.8831e","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"find raw data","collection":"devices","operation":"find","x":856.9999847412109,"y":62.59999656677246,"wires":[["e77965b2.e7c928"]]},{"id":"e77965b2.e7c928","type":"function","z":"50351816.addd28","name":"set final result","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nlet pageInfo = {}\nlet showType = 'API'\nif(obj['showType'] !== undefined && obj['showType'] == 'xls'){\n  showType = obj['showType']\n}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = Number(obj['total'])\npageInfo['next'] = obj['next']\npageInfo['previous'] = obj['previous']\npageInfo['limit'] = obj['page_limit']\nnewPayload['pages'] = pageInfo\nnewPayload['data'] = msg.payload\nmsg['payload'] = newPayload\nmsg['showType'] = showType\nreturn msg","outputs":1,"noerr":0,"x":844.9999847412109,"y":146.59999656677246,"wires":[["e778f26d.ecf83"]]},{"id":"290c5fe4.3ec6e","type":"debug","z":"50351816.addd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":355.99998474121094,"y":49.59999656677246,"wires":[]},{"id":"f7a47978.9a5ea8","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":387.99998474121094,"y":163.59999656677246,"wires":[]},{"id":"9c2e4061.22e26","type":"switch","z":"50351816.addd28","name":"check from","property":"payload.from","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":145.50002670288086,"y":416.7999897003174,"wires":[["e1383277.ce501"],["16394660.f2e07a"]]},{"id":"e1383277.ce501","type":"switch","z":"50351816.addd28","name":"check to","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":153.00001525878906,"y":373.60001945495605,"wires":[["c59201e7.bef5d"],["298df7f6.22f608"]]},{"id":"16394660.f2e07a","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.from","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"from","outputType":"msg","outTz":"Etc/UTC","x":400.50000762939453,"y":430.3999900817871,"wires":[["e1383277.ce501"]]},{"id":"298df7f6.22f608","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.to","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"to","outputType":"msg","outTz":"Etc/UTC","x":394,"y":367.20001220703125,"wires":[["c59201e7.bef5d"]]},{"id":"e778f26d.ecf83","type":"switch","z":"50351816.addd28","name":"check showType","property":"showType","propertyType":"msg","rules":[{"t":"eq","v":"xls","vt":"str"},{"t":"eq","v":"API","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1022.699951171875,"y":105.4000244140625,"wires":[["7f4cdca9.847644"],["6768f83d.407178"]]},{"id":"9e5465c3.188e48","type":"excel","z":"50351816.addd28","name":"","file":"/data/report/test.csv","x":1708.6999626159668,"y":186.8000003695488,"wires":[["d1f0c866.b48168"]]},{"id":"cba3be55.cf974","type":"function","z":"50351816.addd28","name":"set excel data","func":"let newPayload = []\nlet events = msg['events']\nlet obj = msg['actInfo']\nif(msg.payload.length > 0){\n  let mapObj = msg.payload[0]\n  for(let i = 0 ; i < events.length ; i++){\n    let cell = {}\n    let eventObj = events[i]\n    for(let j = 0 ; j < mapObj.showField.event.length ; j++){\n      let field = mapObj.showField.event[j]['name']\n      if(field.indexOf('.') != -1){\n        let cp = ''\n        let eventArray = field.split('.')\n        let tempObj = eventObj\n        for(let k = 0 ; k < eventArray.length ; k++){\n          if(k < eventArray.length -1){\n            tempObj = tempObj[eventArray[k]]\n          }else{\n            cell[eventArray[k]] = tempObj[eventArray[k]]\n          }\n        }\n      }else{\n        cell[field] = eventObj[field]\n      }\n    }\n    newPayload.push(cell)\n  }   \n}\nmsg.payload = newPayload\nlet fileName = obj.fport+'_'+getRandomNumber(1000)+'.xls'\nif(obj['fileName'] !== undefined){\n  fileName = obj['fileName']+'.xls'\n}\nmsg['fileName'] = fileName\nmsg['filepath']='/data/report/'+fileName\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":1472.7000064849854,"y":152.4000244140625,"wires":[["d86356eb.09df18","9e5465c3.188e48"]]},{"id":"7f4cdca9.847644","type":"function","z":"50351816.addd28","name":"get map info","func":"let newPayload = {}\nlet obj = msg['actInfo']\nnewPayload['deviceType'] = obj.fport+''\nmsg['events'] = msg.payload.data\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1172.599952697754,"y":45,"wires":[["edd8c39a.482b"]]},{"id":"edd8c39a.482b","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"get map info","collection":"maps","operation":"find","x":1286.1000061035156,"y":110.19998550415039,"wires":[["cba3be55.cf974","d76c1f98.36eeb"]]},{"id":"d86356eb.09df18","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1752.5000076293945,"y":82.80001157522202,"wires":[]},{"id":"d76c1f98.36eeb","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1526.499984741211,"y":74.79999351501465,"wires":[]},{"id":"d1f0c866.b48168","type":"function","z":"50351816.addd28","name":"set topic","func":"msg['filename'] = msg['filepath']\nmsg['headers']={'Content-Disposition':'attachment; filename='+msg['fileName']}\nmsg.payload = null\nreturn msg","outputs":1,"noerr":0,"x":1797.1999588012695,"y":269.6000003814697,"wires":[["b96f8789.bf1e38"]]},{"id":"b96f8789.bf1e38","type":"file in","z":"50351816.addd28","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":1961.6999626159668,"y":296.8000011444092,"wires":[["be956bad.90af08"]]},{"id":"be956bad.90af08","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":2113.199966430664,"y":294.60000133514404,"wires":[]},{"id":"6768f83d.407178","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":1958.9999656677246,"y":422.60000228881836,"wires":[]},{"id":"b18ee349.201e4","type":"function","z":"50351816.addd28","name":"set topic","func":"let attachments = []\nlet attachment = {}\nmsg['from']='reply@mail1.notice.securepilot.com'\nmsg['topic'] = 'monthly report'\nattachment['filename'] = msg['fileName']\nattachment['path'] = msg['filepath']\nattachments.push(attachment)\nmsg['attachments'] = attachments\nmsg.payload = 'Dear Sir, <br>please check the report.<br>B.R.'\nreturn msg","outputs":1,"noerr":0,"x":1984.5999755859375,"y":196,"wires":[["de81e5ce.3bdb08"]]},{"id":"de81e5ce.3bdb08","type":"e-mail","z":"50351816.addd28","server":"52.5.68.151","port":"465","secure":true,"name":"andy_he@gemteks.com","dname":"","x":2241.7998657226562,"y":194.39999198913574,"wires":[]},{"id":"b20e0829.abfac8","type":"watch","z":"79cf11e5.76b25","name":"","files":"/data/report","recursive":"","x":141.5,"y":253.80000114440918,"wires":[["6adb977a.877428"]]},{"id":"8b8b23a4.da128","type":"exec","z":"79cf11e5.76b25","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cmd to the OS","x":702.5000076293945,"y":287.3000659942627,"wires":[["3573f8c1.021cc8"],["3573f8c1.021cc8"],["3573f8c1.021cc8"]]},{"id":"94e38d1e.da89f","type":"debug","z":"79cf11e5.76b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":613.5000076293945,"y":403.6000175476074,"wires":[]},{"id":"6adb977a.877428","type":"delay","z":"79cf11e5.76b25","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":155.50000381469727,"y":309.0000400543213,"wires":[["8927571c.6ffdc8"]]},{"id":"7a6247f8.554078","type":"function","z":"79cf11e5.76b25","name":"set delete cmd","func":"msg.payload = 'rm '+msg.payload \nreturn msg","outputs":1,"noerr":0,"x":467.50000381469727,"y":303.0000400543213,"wires":[["94e38d1e.da89f","8b8b23a4.da128"]]},{"id":"3573f8c1.021cc8","type":"debug","z":"79cf11e5.76b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860.0000114440918,"y":293.2000160217285,"wires":[]},{"id":"8927571c.6ffdc8","type":"switch","z":"79cf11e5.76b25","name":"","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":293.50000381469727,"y":308.40001678466797,"wires":[["7a6247f8.554078"],["94e38d1e.da89f"]]},{"id":"310275f.080e28a","type":"http in","z":"50351816.addd28","name":"","url":"/chk","method":"get","upload":false,"swaggerDoc":"","x":187.00001525878906,"y":1277.1999053955078,"wires":[["94079bd6.393e88"]]},{"id":"94079bd6.393e88","type":"switch","z":"50351816.addd28","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":186.00000762939453,"y":1232.1999049186707,"wires":[["adcdc54a.647468"],["7ff44181.03f74"]]},{"id":"adcdc54a.647468","type":"function","z":"50351816.addd28","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":179,"y":1188.1999034881592,"wires":[["404cc6b3.fd3f98"]]},{"id":"7ff44181.03f74","type":"function","z":"50351816.addd28","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":527.0000076293945,"y":1229.1999053955078,"wires":[["f0edd268.60632"]]},{"id":"cd1d62de.f180f","type":"function","z":"50351816.addd28","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.macAddr !== undefined){\n  newPayload['macAddr'] = obj.macAddr    \n}\nif(msg['from'] !== undefined && msg['to'] !== undefined ){\n  let dateCond = {}\n  dateCond['$gt'] = new Date(msg['from'])\n  dateCond['$lte'] = new Date(msg['to'])\n  newPayload['recv'] = dateCond\n}\nif(obj.fport !== undefined){\n  newPayload['extra.fport'] = Number(obj.fport)\n}\n\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":191.99998474121094,"y":893.1999664306641,"wires":[["f522d956.f85d88","6ee70e9d.73204"]]},{"id":"f522d956.f85d88","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"find raw data Cnt","collection":"devices","operation":"count","x":181.99998474121094,"y":833.1999664306641,"wires":[["1102d2c3.cb23bd","f39f110c.cb049"]]},{"id":"f39f110c.cb049","type":"function","z":"50351816.addd28","name":"set final result","func":"let newPayload = {}\nlet dataList = []\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = msg.payload\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":543.0001068115234,"y":833.2000122070312,"wires":[["f0edd268.60632"]]},{"id":"1102d2c3.cb23bd","type":"debug","z":"50351816.addd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":384.99998474121094,"y":781.1999664306641,"wires":[]},{"id":"6ee70e9d.73204","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":416.99998474121094,"y":895.1999664306641,"wires":[]},{"id":"404cc6b3.fd3f98","type":"switch","z":"50351816.addd28","name":"check from","property":"payload.from","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":187.50002670288086,"y":1149.3999042510986,"wires":[["d479dbf8.6f1b48"],["b20d8231.1d75c"]]},{"id":"d479dbf8.6f1b48","type":"switch","z":"50351816.addd28","name":"check to","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":195.00001525878906,"y":1106.1999340057373,"wires":[["2fadf6bd.be5c1a"],["7ab4458.bee26bc"]]},{"id":"b20d8231.1d75c","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.from","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"from","outputType":"msg","outTz":"Etc/UTC","x":442.50000762939453,"y":1162.9999046325684,"wires":[["d479dbf8.6f1b48"]]},{"id":"7ab4458.bee26bc","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.to","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"to","outputType":"msg","outTz":"Etc/UTC","x":436,"y":1099.7999267578125,"wires":[["2fadf6bd.be5c1a"]]},{"id":"f0edd268.60632","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":1039.0000247955322,"y":992.2000141143799,"wires":[]},{"id":"2fadf6bd.be5c1a","type":"http request","z":"50351816.addd28","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":189,"y":1060,"wires":[["a3d0335a.4bf61"]]},{"id":"a3d0335a.4bf61","type":"function","z":"50351816.addd28","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":184,"y":1003,"wires":[["be56916f.5935c"]]},{"id":"be56916f.5935c","type":"switch","z":"50351816.addd28","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":183,"y":954,"wires":[["cd1d62de.f180f"],["4d6c73e0.cb595c"]]},{"id":"4d6c73e0.cb595c","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":435.5,"y":977,"wires":[]},{"id":"c59201e7.bef5d","type":"http request","z":"50351816.addd28","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":149,"y":317,"wires":[["cef08d77.d9fd3"]]},{"id":"cef08d77.d9fd3","type":"function","z":"50351816.addd28","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":144,"y":260,"wires":[["1f66ad0f.311c23"]]},{"id":"1f66ad0f.311c23","type":"switch","z":"50351816.addd28","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":211,"wires":[["fce4ab31.96e488"],["6feb550e.ef4e5c"]]},{"id":"6feb550e.ef4e5c","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":395.5,"y":234,"wires":[]},{"id":"f2d0a896.c6b648","type":"http in","z":"9bfcfd67.0ec5e","name":"","url":"/import/tag/:type","method":"post","upload":true,"swaggerDoc":"","x":105,"y":230,"wires":[["6a6ea1f3.5fb88","d5753bfe.72bd98"]]},{"id":"b5410628.e30d88","type":"http in","z":"9bfcfd67.0ec5e","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":92,"y":137,"wires":[["d5e9ebcc.5f5b38"]]},{"id":"d5e9ebcc.5f5b38","type":"template","z":"9bfcfd67.0ec5e","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<!--<form action=\"https://api.us.apiconnect.ibmcloud.com/ctosw5-cloud3/sb/device/v1/fw\" method=\"POST\" enctype=\"multipart/form-data\">-->\n<form action=\"/import/tag/4\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" /><br>\n    token:<input type=\"text\" name=\"token\" /><br>\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":272,"y":137,"wires":[["47d3844f.aee00c"]]},{"id":"47d3844f.aee00c","type":"http response","z":"9bfcfd67.0ec5e","name":"","x":432,"y":137,"wires":[]},{"id":"fb1b8ed2.48352","type":"comment","z":"9bfcfd67.0ec5e","name":"Simple file upload example","info":"http://localhost:1880/upload","x":132,"y":97,"wires":[]},{"id":"6a6ea1f3.5fb88","type":"debug","z":"9bfcfd67.0ec5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":504.5,"y":216,"wires":[]},{"id":"3577454.a26c4ba","type":"http response","z":"9bfcfd67.0ec5e","name":"","statusCode":"","headers":{},"x":1928.5,"y":799,"wires":[]},{"id":"d5753bfe.72bd98","type":"switch","z":"9bfcfd67.0ec5e","name":"","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":127.5,"y":289,"wires":[["1d499a8c.52d585"],["85f94396.c1265"]]},{"id":"85f94396.c1265","type":"function","z":"9bfcfd67.0ec5e","name":"set error resp","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'missing parameter'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":249.5,"y":377,"wires":[["3577454.a26c4ba"]]},{"id":"1d499a8c.52d585","type":"function","z":"9bfcfd67.0ec5e","name":"set file flg","func":"let fileFlg = msg.req.files.length > 0 ? true : false\nlet fileType = ''\nif(fileFlg){\n  fileType = msg.req.files[0].originalname.split('.')[1]\n}\nmsg['fileFlg'] = fileFlg\nmsg['fileType'] = fileType\nmsg['tagType'] = msg.req.params.type\nreturn msg","outputs":1,"noerr":0,"x":286.5,"y":281,"wires":[["1c1b6313.200c4d"]]},{"id":"1c1b6313.200c4d","type":"switch","z":"9bfcfd67.0ec5e","name":"check fileFlg","property":"fileFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":450.5,"y":274,"wires":[["3c1c4856.ed8f58"],["b71a6fd7.af233"]]},{"id":"3c1c4856.ed8f58","type":"switch","z":"9bfcfd67.0ec5e","name":"check fileType","property":"fileType","propertyType":"msg","rules":[{"t":"eq","v":"xlsx","vt":"str"},{"t":"eq","v":"csv","vt":"str"},{"t":"else"}],"checkall":"true","repair":false,"outputs":3,"x":651,"y":273,"wires":[["7e5fdc19.6185e4"],["28af5684.2e014a"],["103e0336.bb826d"]]},{"id":"b71a6fd7.af233","type":"function","z":"9bfcfd67.0ec5e","name":"set error resp","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'upload file not exist'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":487,"y":340,"wires":[["3577454.a26c4ba"]]},{"id":"103e0336.bb826d","type":"function","z":"9bfcfd67.0ec5e","name":"set error resp","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'unknown file type'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":698,"y":321,"wires":[["3577454.a26c4ba"]]},{"id":"7e5fdc19.6185e4","type":"function","z":"9bfcfd67.0ec5e","name":"set buffer to payload","func":"msg.payload = msg.req.files[0].buffer\nreturn msg","outputs":1,"noerr":0,"x":949,"y":189,"wires":[["10f6fc4.c697a04"]]},{"id":"989f9dbd.b3cb3","type":"csv","z":"9bfcfd67.0ec5e","name":"","sep":",","hdrin":"","hdrout":"","multi":"mult","ret":"\\n","temp":"","skip":"0","x":1043.5,"y":267,"wires":[["2d4379fe.c00486"]]},{"id":"28af5684.2e014a","type":"function","z":"9bfcfd67.0ec5e","name":"set buffer to payload","func":"msg.payload = msg.req.files[0].buffer.toString('utf-8')\nreturn msg","outputs":1,"noerr":0,"x":861,"y":269,"wires":[["989f9dbd.b3cb3"]]},{"id":"10f6fc4.c697a04","type":"book","z":"9bfcfd67.0ec5e","name":"","x":1047.409034729004,"y":71.09091377258301,"wires":[["8ed025f.14df8d8"]]},{"id":"a3718869.f1abd8","type":"sheet","z":"9bfcfd67.0ec5e","name":"","sheetName":"","x":1643.227294921875,"y":163.09091186523438,"wires":[["ac921242.1114"]]},{"id":"ac921242.1114","type":"sheet-to-json","z":"9bfcfd67.0ec5e","name":"","raw":"true","range":"","header":"default","blankrows":false,"x":1836.0455322265625,"y":180.18182373046875,"wires":[["3577454.a26c4ba"]]},{"id":"8ed025f.14df8d8","type":"function","z":"9bfcfd67.0ec5e","name":"set sheets to payload","func":"msg['workBook'] = msg.payload\nmsg.payload = msg.payload.SheetNames\nreturn msg","outputs":1,"noerr":0,"x":1246.4090118408203,"y":64.81817245483398,"wires":[["5b994ef1.98128"]]},{"id":"5b994ef1.98128","type":"split","z":"9bfcfd67.0ec5e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1277.7273864746094,"y":119.99999237060547,"wires":[["af65318a.44897"]]},{"id":"af65318a.44897","type":"function","z":"9bfcfd67.0ec5e","name":"set sheet name","func":"msg.selectSheetName = msg.payload\nmsg.payload = msg['workBook']\nreturn msg","outputs":1,"noerr":0,"x":1466.6361083984375,"y":147.7272491455078,"wires":[["a3718869.f1abd8"]]},{"id":"4127c9e4.fb0d08","type":"inject","z":"8a963d5.bfd55c","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"*/1 0-23 * * *","once":false,"onceDelay":0.1,"x":166,"y":59,"wires":[["8c6f9995.6d3dd8"]]},{"id":"4e9808f3.d346b8","type":"function","z":"8a963d5.bfd55c","name":"set search report rule","func":"let dateObj = msg['dateObj']\nlet weekDay = dateObj['weekDay']\nlet dateArray = dateObj['nowDate'].split('-')\nlet timeArray = dateObj['nowTime'].split(':')\nlet newPayload = {}\nlet periodIn = {}\nlet inObj = {}\nlet periodTypeArray = []\nlet periods = []\nlet search = '{$or:[{\"periodCondition\": {$elemMatch: {type:\"std\", year:'+dateArray[0]+', month:'+dateArray[1]+', date:'+dateArray[2]+', hour:'+timeArray[0]+', minute:'+timeArray[1]+'}}}, {\"periodCondition\": {$elemMatch: {type:\"std\", year:\"-1\", month:'+dateArray[1]+', date:'+dateArray[2]+', hour:'+timeArray[0]+', minute:'+timeArray[1]+'}}}, {\"periodCondition\": {$elemMatch: {type:\"std\", year:\"-1\", month:\"-1\", date:'+dateArray[2]+', hour:'+timeArray[0]+', minute:'+timeArray[1]+'}}}, {\"periodCondition\": {$elemMatch: {type:\"std\", year:\"-1\", month:\"-1\", date:\"-1\", hour:'+timeArray[0]+', minute:'+timeArray[1]+'}}}, {\"periodCondition\": {$elemMatch: {type:\"stw\", '+weekDay+':\"-1\", hour:'+timeArray[0]+', minute:'+timeArray[1]+'}}}]}'\nfor(let i = 0 ; i < 5 ; i++){\n  let p = {}\n  let e = {}\n  let c = {}\n  c['type'] = 'std'\n  c['year'] = i > 0 ? '-1':dateArray[0]\n  c['month'] = i > 1 ? '-1':dateArray[1]\n  c['date'] = i > 2 ? '-1':dateArray[2]\n  c['hour'] = i > 3 ? '-1':timeArray[0]\n  c['minute'] = i > 4 ? '-1':timeArray[1]\n  e['$elemMatch'] = c\n  p['periodCondition'] = e\n  periods.push(p)  \n}\nfor(let i = 0 ; i < 2 ; i++){\n  let p = {}\n  let e = {}\n  let c = {}\n  c['type'] = 'stw'\n  c[weekDay] = '-1'\n  c['hour'] = i > 0 ? '-1':timeArray[0]\n  c['minute'] = timeArray[1]\n  e['$elemMatch'] = c\n  p['periodCondition'] = e\n  periods.push(p)  \n}\n\nnode.warn(periods)\nnewPayload['activate'] = true\nnewPayload['$or'] = periods\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":183,"y":195,"wires":[["d368084b.42eb98","245989f5.74ef56"]]},{"id":"11798ab9.70c805","type":"function","z":"8a963d5.bfd55c","name":"get nowadays to payload","func":"let timeArray = msg.dateStr.split(' ')\nlet newPayload = {}\nlet emptyFlg = true\nlet weekDay = getDayOfWeek(timeArray[0])\nlet nowDate = timeArray[0]\nlet nowTime = timeArray[1]\nif(weekDay != null){\n  newPayload['weekDay'] = weekDay\n  newPayload['nowDate'] = nowDate\n  newPayload['nowTime'] = nowTime\n  newPayload['ts'] = Math.floor(msg.payload / 1000)\n  msg.payload = newPayload\n  msg['dateObj'] = newPayload\n  emptyFlg = false\n}\nmsg['emptyFlg'] = emptyFlg\nreturn msg\nfunction getDayOfWeek(date) {\n  var dayOfWeek = new Date(date).getDay();    \n  return isNaN(dayOfWeek) ? null : ['sun', 'mon', 'tue', 'wed', 'thu', 'fri', 'sat'][dayOfWeek];\n}","outputs":1,"noerr":0,"x":182,"y":109,"wires":[["20e5f9f8.a0f096"]]},{"id":"576ae68c.105798","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":669,"y":46,"wires":[]},{"id":"8c6f9995.6d3dd8","type":"moment","z":"8a963d5.bfd55c","name":"","topic":"","input":"payload","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"dateStr","outputType":"msg","outTz":"Asia/Taipei","x":402,"y":59,"wires":[["576ae68c.105798","11798ab9.70c805"]]},{"id":"20e5f9f8.a0f096","type":"switch","z":"8a963d5.bfd55c","name":"check emptyFlg","property":"emptyFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":163,"y":150,"wires":[["1eef7f65.aba311"],["4e9808f3.d346b8"]]},{"id":"1eef7f65.aba311","type":"function","z":"8a963d5.bfd55c","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'date format error'\nnewPayload['responseCode'] = '999'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":412,"y":141,"wires":[["3ebcb002.2d967"]]},{"id":"3ebcb002.2d967","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":842,"y":226,"wires":[]},{"id":"905ff960.87ec48","type":"switch","z":"8a963d5.bfd55c","name":"check report rule","property":"payload.length","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":166,"y":288,"wires":[["66bca391.58be9c"],["b7600164.8500f"]]},{"id":"66bca391.58be9c","type":"function","z":"8a963d5.bfd55c","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no activate rule exists'\nnewPayload['responseCode'] = '999'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":433,"y":231,"wires":[["3ebcb002.2d967"]]},{"id":"d368084b.42eb98","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":431,"y":184,"wires":[]},{"id":"245989f5.74ef56","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"find report setting","collection":"worker","operation":"find","x":172,"y":238,"wires":[["905ff960.87ec48"]]},{"id":"b7600164.8500f","type":"split","z":"8a963d5.bfd55c","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":147.5,"y":335,"wires":[["c658ad2a.72a8d","169e0890.fb2a07"]]},{"id":"c658ad2a.72a8d","type":"function","z":"8a963d5.bfd55c","name":"check condition","func":"msg['tmpRule'] = msg.payload\nlet dateObj = msg['dateObj']\nlet condFlg = false\nlet eventFlg = false\nlet dataSrc = msg.payload.dataSrc !== undefined ? msg.payload.dataSrc : 'event'\nif(msg.payload.aggregateCondition !== undefined){\n  condFlg = true\n}\nif(msg.payload.dataCondition !== undefined && msg.payload.dataCondition.length > 0){\n  eventFlg = true\n}\nmsg['condFlg'] = condFlg\nmsg['eventFlg'] = eventFlg\nmsg['dataSrc'] = dataSrc\nreturn msg","outputs":1,"noerr":0,"x":157.5,"y":374,"wires":[["489f3641.df5dd8"]]},{"id":"489f3641.df5dd8","type":"switch","z":"8a963d5.bfd55c","name":"check condFlg","property":"condFlg","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":164,"y":420,"wires":[["fbd0e6e3.735168"],["62e82533.c24c9c"]]},{"id":"62e82533.c24c9c","type":"switch","z":"8a963d5.bfd55c","name":"check eventFlg","property":"eventFlg","propertyType":"msg","rules":[{"t":"false"},{"t":"true"}],"checkall":"true","repair":false,"outputs":2,"x":174,"y":459,"wires":[["bec64da6.952ec"],["3f40c0b0.e2bb1"]]},{"id":"156b257.42114db","type":"switch","z":"8a963d5.bfd55c","name":"check dataSrc","property":"dataSrc","propertyType":"msg","rules":[{"t":"eq","v":"event","vt":"str"},{"t":"eq","v":"track","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":176,"y":554,"wires":[["731f8758.131168"],["22f0ee07.465ae2"]]},{"id":"fbd0e6e3.735168","type":"function","z":"8a963d5.bfd55c","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no aggregateCondition exists'\nnewPayload['responseCode'] = '999'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":438,"y":324,"wires":[["3ebcb002.2d967"]]},{"id":"bec64da6.952ec","type":"function","z":"8a963d5.bfd55c","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no dataCondition exists'\nnewPayload['responseCode'] = '999'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":440,"y":404,"wires":[["3ebcb002.2d967"]]},{"id":"3f40c0b0.e2bb1","type":"function","z":"8a963d5.bfd55c","name":"set condition ","func":"let dateObj = msg['dateObj']\nlet newPayload = []\nlet matchObj = {}\nlet andObj = {}\nlet groupObj = {}\nlet aggregationObj = {}\nlet dataArray = []\nlet dataCondition = msg.payload.dataCondition\nlet aggregateCondition = msg.payload.aggregateCondition\nfor(let i = 0 ; i < dataCondition.length; i++){\n  dataArray.push(convertCondition(dataCondition[i]))\n}\nandObj['$and'] = dataArray\nmatchObj['$match'] = andObj\naggregationObj['_id'] = aggregateCondition['key']\nif(aggregateCondition['data'] !== undefined){\n  let pushObj = {}\n  pushObj['$push'] = aggregateCondition['data']\n  aggregationObj['data'] = pushObj\n}\nfor(let j = 0 ; j < aggregateCondition['function'].length ; j++){\n  let func = aggregateCondition['function'][j]\n  let funcObj = {}\n  funcObj[func.op] = func.value\n  aggregationObj[func.field] = funcObj\n}\ngroupObj['$group'] = aggregationObj\nnewPayload.push(matchObj)\nnewPayload.push(groupObj)\nmsg.payload = newPayload\nreturn msg\nfunction convertCondition(obj){\n  let conditionObj = {}\n  let opObj = {}\n  switch(obj.op){\n    case '=':\n      opObj['$eq'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    case '!=':\n      opObj['$ne'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    case '>':\n      opObj['$gt'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    case '>=':\n      opObj['$gte'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    case '<':\n      opObj['$lt'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    case '<=':\n      opObj['$lte'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    case 'in':\n      let constArray = []\n      for(let i = 0 ; i < obj.val.length ; i++){\n        constArray.push(obj.val[i])\n      }\n      opObj['$in'] = constArray\n      break\n    case 'like':\n      opObj['$regex'] = obj.val.indexOf('/') !== -1 ? eval(obj.val):obj.val\n      break\n    default:\n      break\n  }\n  conditionObj[obj.field] = opObj\n  return conditionObj\n}","outputs":1,"noerr":0,"x":170,"y":505,"wires":[["156b257.42114db","1421ed54.23fed3"]]},{"id":"731f8758.131168","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"aggregate devices","collection":"devices","operation":"aggregate","x":409.5,"y":538,"wires":[["9fec4c02.0b7e6"]]},{"id":"22f0ee07.465ae2","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"aggregate track","collection":"track","operation":"aggregate","x":409,"y":584,"wires":[["9fec4c02.0b7e6"]]},{"id":"9fec4c02.0b7e6","type":"switch","z":"8a963d5.bfd55c","name":"check result","property":"payload.length","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":715.5,"y":562,"wires":[["8a9dc7d7.374388"],["e333c55a.5f89d8"]]},{"id":"8a9dc7d7.374388","type":"function","z":"8a963d5.bfd55c","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no aggregation data exists'\nnewPayload['responseCode'] = '999'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":604,"y":461,"wires":[["3ebcb002.2d967"]]},{"id":"169e0890.fb2a07","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":467.5,"y":282,"wires":[]},{"id":"1421ed54.23fed3","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":374.5,"y":492,"wires":[]},{"id":"e333c55a.5f89d8","type":"function","z":"8a963d5.bfd55c","name":"get report_config","func":"let reportRule = msg['tmpRule']\nmsg['reportData'] = msg.payload\nlet newPayload = {}\nnewPayload['worker_id'] = reportRule['_id']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":454.5,"y":646,"wires":[["dfd73a1f.b03eb8"]]},{"id":"b536f052.5f30d","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"get report_config","collection":"report_config","operation":"find","x":451.5,"y":735,"wires":[["99ef579f.6430c8","f22deb2e.86d448"]]},{"id":"99ef579f.6430c8","type":"switch","z":"8a963d5.bfd55c","name":"check result","property":"payload.length","propertyType":"msg","rules":[{"t":"lte","v":"0","vt":"num"},{"t":"gt","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":451,"y":783,"wires":[["ccab5a68.51ab88"],["7dd9bf4e.19ead"]]},{"id":"ccab5a68.51ab88","type":"function","z":"8a963d5.bfd55c","name":"set fail result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'no report_config data exists'\nnewPayload['responseCode'] = '999'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":806,"y":717,"wires":[["3ebcb002.2d967"]]},{"id":"7dd9bf4e.19ead","type":"function","z":"8a963d5.bfd55c","name":"set report_data","func":"let newPayload = {}\nlet dateObj = msg['dateObj']\nlet config = msg.payload[0]\nnewPayload['config_id'] = config['_id']\nnewPayload['data'] = msg['reportData']\nnewPayload['createTs'] = dateObj['ts']\nnewPayload['createTime'] = dateObj['nowDate']+' '+dateObj['nowTime']\nlet dateArray = dateObj['nowDate'].split('-')\nlet yearStr = dateArray[0]\nlet monthStr = dateArray[1]\nlet dayStr = dateArray[2]\nif(config['periodType'] == 'Y'){\n  newPayload['period'] = yearStr\n}\nif(config['periodType'] == 'Q'){\n  let quater = 'Q0'\n  switch(monthStr){\n    case '01':\n    case '02':\n    case '03':\n      quater = 'Q1'\n    break;\n    case '04':\n    case '05':\n    case '06':\n      quater = 'Q2'\n    break;\n    case '07':\n    case '08':\n    case '09':\n      quater = 'Q3'\n    break;\n    case '10':\n    case '11':\n    case '12':\n      quater = 'Q4'\n    break;\n    default :\n    break;\n  }\n  newPayload['period'] = yearStr + quater\n}\nif(config['periodType'] == 'M'){\n  newPayload['period'] = yearStr + monthStr\n}\nif(config['periodType'] == 'D'){\n  newPayload['period'] = yearStr + monthStr + dayStr\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":445,"y":826,"wires":[["1aa9205f.68208","fb73c25d.9046d"]]},{"id":"1aa9205f.68208","type":"mongodb out","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"insert report_data","collection":"report_data","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":726.5,"y":792,"wires":[]},{"id":"fb73c25d.9046d","type":"function","z":"8a963d5.bfd55c","name":"set success result","func":"let newPayload = {}\nnewPayload['responseMsg'] = 'report generation success'\nnewPayload['responseCode'] = '000'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":654,"y":867,"wires":[["d9b4aa2d.34e018"]]},{"id":"d9b4aa2d.34e018","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850.5,"y":867,"wires":[]},{"id":"f22deb2e.86d448","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":619.5,"y":700,"wires":[]},{"id":"9cec0c1b.e03a1","type":"http in","z":"8a963d5.bfd55c","name":"","url":"/worker","method":"get","upload":false,"swaggerDoc":"","x":186.5,"y":1408.9999523162842,"wires":[["fa388de9.ab653"]]},{"id":"fa388de9.ab653","type":"switch","z":"8a963d5.bfd55c","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":193,"y":1352.9999523162842,"wires":[["98c13dcc.3678b"],["45554b7e.621314"]]},{"id":"98c13dcc.3678b","type":"function","z":"8a963d5.bfd55c","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":189.5,"y":1304,"wires":[["dd121273.6882d"]]},{"id":"1fa2eafb.973415","type":"http request","z":"8a963d5.bfd55c","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":204.5,"y":1167.0000476837158,"wires":[["3d989f76.b87f4"]]},{"id":"3d989f76.b87f4","type":"function","z":"8a963d5.bfd55c","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":199.5,"y":1110.0000476837158,"wires":[["13ab047.006effc"]]},{"id":"13ab047.006effc","type":"switch","z":"8a963d5.bfd55c","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":198.5,"y":1061.0000476837158,"wires":[["5e8e422e.3e5f1c"],["497aa0ec.67a87"]]},{"id":"497aa0ec.67a87","type":"http response","z":"8a963d5.bfd55c","name":"","statusCode":"","headers":{},"x":404,"y":1059.0000476837158,"wires":[]},{"id":"5e8e422e.3e5f1c","type":"function","z":"8a963d5.bfd55c","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.period !== undefined){\n  newPayload['period'] = obj.period\n}\nif(obj.dataSrc !== undefined){\n  newPayload['dataSrc'] = obj.dataSrc\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":213,"y":1011.0000610351562,"wires":[["3242edbe.8becd2"]]},{"id":"3331cfb7.98893","type":"switch","z":"8a963d5.bfd55c","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":455,"y":994,"wires":[["8c090a60.8e2af8"],["dc8b26c7.8aee28"]]},{"id":"8c090a60.8e2af8","type":"function","z":"8a963d5.bfd55c","name":"set search cond to get data","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.period !== undefined){\n  newPayload['period'] = obj.period\n}\nif(obj.dataSrc !== undefined){\n  newPayload['dataSrc'] = obj.dataSrc\n}\nlet paginate = true\nif(obj.paginate){\n  paginate = (obj.paginate === 'true')\n}\nlet page_limit = 10\nif(obj.limit){\n  page_limit = obj.limit\n}\nlet page = 1\nif(obj.page){\n  page = obj.page\n}\nlet offset = (page-1) * page_limit\nlet nextPage = Number(page) + 1\nlet previous = 1\nif(page != 1)\n  previous = Number(page)-1\nelse\n  previous = Number(page)\nif(paginate){\n  msg['limit'] = page_limit\n  msg['skip'] = offset\n}\nlet sort = {}\nsort['createTs'] = -1\nif(obj.sort && obj.sort == 'asc'){\n  sort['createTs'] = 1\n}\nmsg['sort'] = sort\nobj['next'] = nextPage\nobj['previous'] = previous\nobj['page_limit'] = page_limit\nobj['total'] = msg.payload\nmsg['actInfo'] = obj\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":655.9999961853027,"y":968.9999990463257,"wires":[["925d2163.b94d2"]]},{"id":"dc8b26c7.8aee28","type":"function","z":"8a963d5.bfd55c","name":"set empty result","func":"let newPayload = {}\nlet dataList = []\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = 0\nnewPayload['data'] = dataList\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":625.0000038146973,"y":1051.0000009536743,"wires":[["d322704e.489a5"]]},{"id":"28a4f2f1.25474e","type":"function","z":"8a963d5.bfd55c","name":"set final result","func":"let obj = msg['actInfo']\nlet newPayload = {}\nlet pageInfo = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = Number(obj['total'])\npageInfo['next'] = obj['next']\npageInfo['previous'] = obj['previous']\npageInfo['limit'] = obj['page_limit']\nnewPayload['pages'] = pageInfo\nnewPayload['data'] = msg.payload\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":994.5,"y":1037,"wires":[["d322704e.489a5"]]},{"id":"d322704e.489a5","type":"http response","z":"8a963d5.bfd55c","name":"","statusCode":"","headers":{},"x":1080.5,"y":1247.000002861023,"wires":[]},{"id":"45554b7e.621314","type":"function","z":"8a963d5.bfd55c","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":554,"y":1232,"wires":[["d322704e.489a5"]]},{"id":"3242edbe.8becd2","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"get worker","collection":"worker","operation":"count","x":217,"y":963,"wires":[["3331cfb7.98893"]]},{"id":"925d2163.b94d2","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"get worker","collection":"worker","operation":"find","x":891,"y":969,"wires":[["28a4f2f1.25474e"]]},{"id":"dd121273.6882d","type":"switch","z":"8a963d5.bfd55c","name":"check token","property":"token","propertyType":"msg","rules":[{"t":"neq","v":"system_trigger","vt":"str"},{"t":"eq","v":"system_trigger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":198,"y":1245,"wires":[["1fa2eafb.973415"],["5e8e422e.3e5f1c"]]},{"id":"c62d1d22.eb935","type":"http in","z":"8a963d5.bfd55c","name":"","url":"/worker/:id","method":"delete","upload":false,"swaggerDoc":"","x":221,"y":2089.0000553131104,"wires":[["7c15c88.8d1ee38"]]},{"id":"7c15c88.8d1ee38","type":"switch","z":"8a963d5.bfd55c","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":221,"y":2049.0000553131104,"wires":[["f6210e6f.a43d6"],["f50b5070.313ec"]]},{"id":"f6210e6f.a43d6","type":"function","z":"8a963d5.bfd55c","name":"set para to obj","func":"msg.payload['id'] = msg.req.params.id\nmsg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":201.99999237060547,"y":2003.800048828125,"wires":[["955849e4.e6c9a8"]]},{"id":"3b391d96.773642","type":"function","z":"8a963d5.bfd55c","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nnewPayload['_id'] = obj.id\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":213,"y":1750.800048828125,"wires":[["cdce2208.2a436"]]},{"id":"f50b5070.313ec","type":"function","z":"8a963d5.bfd55c","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":461,"y":1962,"wires":[[]]},{"id":"2f8f0e2f.653102","type":"http request","z":"8a963d5.bfd55c","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":201,"y":1882,"wires":[["a2d05481.7f42a8"]]},{"id":"a2d05481.7f42a8","type":"function","z":"8a963d5.bfd55c","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":216,"y":1845,"wires":[["557f511.0c7a7b"]]},{"id":"557f511.0c7a7b","type":"switch","z":"8a963d5.bfd55c","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":215,"y":1796,"wires":[["3b391d96.773642"],["f164b8ad.d53138"]]},{"id":"f164b8ad.d53138","type":"http response","z":"8a963d5.bfd55c","name":"","statusCode":"","headers":{},"x":420.5,"y":1794,"wires":[]},{"id":"d873f672.5bb008","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"get worker","collection":"worker","operation":"find","x":199,"y":1649,"wires":[["463fa6de.ae30e8"]]},{"id":"463fa6de.ae30e8","type":"switch","z":"8a963d5.bfd55c","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":376.5,"y":1647,"wires":[["53e7f77f.579fb8"],["ee4a4ab2.a7b2d8"]]},{"id":"53e7f77f.579fb8","type":"function","z":"8a963d5.bfd55c","name":"set search cond to get data to del","func":"let newPayload = {}\nnewPayload['_id'] = msg.payload[0]._id\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":606,"y":1630,"wires":[["91fdf6a.5b58b08","de62dc7f.f224a"]]},{"id":"ee4a4ab2.a7b2d8","type":"function","z":"8a963d5.bfd55c","name":"set empty result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'no worker to delete'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":546,"y":1690,"wires":[["460da2bf.49b59c"]]},{"id":"91fdf6a.5b58b08","type":"function","z":"8a963d5.bfd55c","name":"set final result","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'delete success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":886,"y":1690,"wires":[["460da2bf.49b59c"]]},{"id":"460da2bf.49b59c","type":"http response","z":"8a963d5.bfd55c","name":"","statusCode":"","headers":{},"x":1071.5,"y":1754,"wires":[]},{"id":"de62dc7f.f224a","type":"mongodb out","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"remove worker","collection":"worker","payonly":false,"upsert":false,"multi":false,"operation":"delete","x":916.5,"y":1577,"wires":[]},{"id":"a3a4885c.170dd8","type":"http in","z":"8a963d5.bfd55c","name":"","url":"/worker","method":"post","upload":false,"swaggerDoc":"","x":147,"y":2780,"wires":[["be724a07.2beb68","ed706922.22f4d8"]]},{"id":"be724a07.2beb68","type":"switch","z":"8a963d5.bfd55c","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":147,"y":2740,"wires":[["1be1492e.c69a17"],["be5de667.061f68"]]},{"id":"334dd45e.02e3ac","type":"function","z":"8a963d5.bfd55c","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":143,"y":2650,"wires":[["f876d1d5.f0668","45c6e27.b2f721c"]]},{"id":"be5de667.061f68","type":"function","z":"8a963d5.bfd55c","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":482.50000762939453,"y":2623.800019264221,"wires":[["840eb451.d74068"]]},{"id":"1be1492e.c69a17","type":"switch","z":"8a963d5.bfd55c","name":"check data","property":"payload.data","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":147,"y":2700,"wires":[["334dd45e.02e3ac"],["be5de667.061f68"]]},{"id":"56c3342.9c316cc","type":"function","z":"8a963d5.bfd55c","name":"set id to parameter","func":"let actInfo = msg['actInfo']\nif(actInfo.data._id !== undefined){\n  msg['_id'] = actInfo.data._id  \n}else{\n  msg['_id'] = 'NA'\n}\nreturn msg","outputs":1,"noerr":0,"x":156,"y":2399,"wires":[["7ad78ac9.3b2834"]]},{"id":"7ad78ac9.3b2834","type":"switch","z":"8a963d5.bfd55c","name":"check id exists","property":"_id","propertyType":"msg","rules":[{"t":"neq","v":"NA","vt":"str"},{"t":"eq","v":"NA","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":146,"y":2359,"wires":[["4d98eee5.344ab"],["22de54bb.a8c78c"]]},{"id":"22de54bb.a8c78c","type":"function","z":"8a963d5.bfd55c","name":"set deviceType error","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'worker rule not exists'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":506,"y":2379,"wires":[["840eb451.d74068"]]},{"id":"637c4a77.87f3c4","type":"function","z":"8a963d5.bfd55c","name":"set search cond to get cnt","func":"let newPayload = {}\nnewPayload['_id'] = msg['_id']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":199,"y":2187,"wires":[["effe4d51.4e725"]]},{"id":"241d1ccc.5a2874","type":"function","z":"8a963d5.bfd55c","name":"set info to insert","func":"let obj = msg['actInfo']\nlet newPayload = {}\ndelete obj.data['_id']\ndelete msg['_id']\nobj.data['createTs'] = msg['nowTs']\nobj.data['createTime'] = msg['nowTime']\nnewPayload = obj['data']\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":446,"y":2279,"wires":[["5a7788ab.596dd8","6c63968c.6dea08"]]},{"id":"7f97f369.69f67c","type":"moment","z":"8a963d5.bfd55c","name":"","topic":"","input":"nowTime","inputType":"msg","inTz":"Etc/UTC","adjAmount":0,"adjType":"days","adjDir":"add","format":"YYYY-MM-DD HH:mm:ss","locale":"en_US","output":"nowTime","outputType":"msg","outTz":"Asia/Taipei","x":166,"y":2279,"wires":[["404ff3a1.0bbb6c"]]},{"id":"404ff3a1.0bbb6c","type":"switch","z":"8a963d5.bfd55c","name":"check action","property":"_id","propertyType":"msg","rules":[{"t":"neq","v":"-1","vt":"str"},{"t":"eq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":176,"y":2239,"wires":[["637c4a77.87f3c4"],["241d1ccc.5a2874"]]},{"id":"4d98eee5.344ab","type":"function","z":"8a963d5.bfd55c","name":"set nowTime","func":"msg['nowTime'] = new Date()\nmsg['nowTs'] = Math.floor(Date.now() / 1000)\nreturn msg","outputs":1,"noerr":0,"x":156,"y":2319,"wires":[["7f97f369.69f67c"]]},{"id":"88131d0b.fffa4","type":"http request","z":"8a963d5.bfd55c","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":136,"y":2539,"wires":[["3a2f4800.0f7e98"]]},{"id":"3a2f4800.0f7e98","type":"function","z":"8a963d5.bfd55c","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":151,"y":2502,"wires":[["968c0249.c9775"]]},{"id":"968c0249.c9775","type":"switch","z":"8a963d5.bfd55c","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":2453,"wires":[["56c3342.9c316cc"],["840eb451.d74068"]]},{"id":"840eb451.d74068","type":"http response","z":"8a963d5.bfd55c","name":"","statusCode":"","headers":{},"x":788.5,"y":2455,"wires":[]},{"id":"f876d1d5.f0668","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":416,"y":2519,"wires":[]},{"id":"ed706922.22f4d8","type":"debug","z":"8a963d5.bfd55c","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":466,"y":2739,"wires":[]},{"id":"45c6e27.b2f721c","type":"switch","z":"8a963d5.bfd55c","name":"check token","property":"token","propertyType":"msg","rules":[{"t":"neq","v":"system_trigger","vt":"str"},{"t":"eq","v":"system_trigger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":150,"y":2598,"wires":[["88131d0b.fffa4"],["56c3342.9c316cc"]]},{"id":"5a7788ab.596dd8","type":"mongodb out","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"insert worker","collection":"worker","payonly":true,"upsert":false,"multi":false,"operation":"insert","x":749.5,"y":2267,"wires":[]},{"id":"b5ea8388.fe85b","type":"switch","z":"8a963d5.bfd55c","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":774,"y":2173,"wires":[["a3c5e2f4.f5707"],["4893f30f.232d1c"]]},{"id":"6c63968c.6dea08","type":"function","z":"8a963d5.bfd55c","name":"set final result","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'insert success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":684,"y":2313,"wires":[["793e7c27.ba3a04"]]},{"id":"a3c5e2f4.f5707","type":"function","z":"8a963d5.bfd55c","name":"set info to update","func":"let obj = msg['actInfo']\nlet newPayload = {}\nobj.data['updateTs'] = msg['nowTs']\nobj.data['updateTime'] = msg['nowTime']\nnewPayload = obj['data']\nnewPayload['createTs'] = msg.payload[0].createTs\nnewPayload['createTime'] = msg.payload[0].createTime\nnewPayload['_id'] = msg.payload[0]._id\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1014.10009765625,"y":2185,"wires":[["5786317a.49244","20d24e61.a79042"]]},{"id":"4893f30f.232d1c","type":"function","z":"8a963d5.bfd55c","name":"set deviceType error","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'Worker rule not exists'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1024,"y":2253,"wires":[["793e7c27.ba3a04"]]},{"id":"5786317a.49244","type":"function","z":"8a963d5.bfd55c","name":"set final result","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'update success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1224.0999908447266,"y":2220.0000019073486,"wires":[["793e7c27.ba3a04"]]},{"id":"793e7c27.ba3a04","type":"http response","z":"8a963d5.bfd55c","name":"","statusCode":"","headers":{},"x":1438,"y":2330,"wires":[]},{"id":"b7f98af7.85df68","type":"mongodb in","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"get worker","collection":"worker","operation":"find","x":597,"y":2187,"wires":[["b5ea8388.fe85b"]]},{"id":"20d24e61.a79042","type":"mongodb out","z":"8a963d5.bfd55c","mongodb":"fd4472a2.ac2c9","name":"update worker","collection":"worker","payonly":true,"upsert":false,"multi":false,"operation":"store","x":1238,"y":2144,"wires":[]},{"id":"955849e4.e6c9a8","type":"switch","z":"8a963d5.bfd55c","name":"check token","property":"token","propertyType":"msg","rules":[{"t":"neq","v":"system_trigger","vt":"str"},{"t":"eq","v":"system_trigger","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":221,"y":1950,"wires":[["2f8f0e2f.653102"],["3b391d96.773642"]]},{"id":"68845b50.bcf404","type":"function","z":"9bfcfd67.0ec5e","name":"set first row as meta data and check","func":"let headerObj = msg.payload[0]\nmsg['headerFlg'] = checkHeader(headerObj)\nmsg['headerObj'] = headerObj\nreturn msg\nfunction checkHeader(obj){\n  let idCheck = false\n  let nameCheck = false\n  for (key in obj) {\n    if(obj[key] == '_id')\n      idCheck = true\n    if(obj[key] == 'name')\n      nameCheck = true\n  }\n  return idCheck && nameCheck\n}","outputs":1,"noerr":0,"x":1222.5,"y":307,"wires":[["b6ff8b19.1c6cd8"]]},{"id":"2d4379fe.c00486","type":"switch","z":"9bfcfd67.0ec5e","name":"check data","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":966.5,"y":318,"wires":[["68845b50.bcf404"],["d1aa6e7b.76116"]]},{"id":"d1aa6e7b.76116","type":"function","z":"9bfcfd67.0ec5e","name":"set error resp","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'csv file no content'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1153,"y":375,"wires":[["3577454.a26c4ba"]]},{"id":"b6ff8b19.1c6cd8","type":"switch","z":"9bfcfd67.0ec5e","name":"check headerFlg","property":"headerFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":1343,"y":350,"wires":[["85f86906.4004d8"],["8bdc968e.adeba8"]]},{"id":"8bdc968e.adeba8","type":"function","z":"9bfcfd67.0ec5e","name":"set error resp","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'missing required field'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1384,"y":398,"wires":[["3577454.a26c4ba"]]},{"id":"85f86906.4004d8","type":"function","z":"9bfcfd67.0ec5e","name":"keep tag data","func":"msg.payload.splice(0, 1)\nreturn msg","outputs":1,"noerr":0,"x":1516.5,"y":243,"wires":[["3a7afa9e.18af06"]]},{"id":"3a7afa9e.18af06","type":"split","z":"9bfcfd67.0ec5e","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":1568.5,"y":308,"wires":[["7f0bf391.3c89cc"]]},{"id":"7f0bf391.3c89cc","type":"function","z":"9bfcfd67.0ec5e","name":"set csv data to JSON Obj","func":"let headerObj = msg['headerObj']\nlet obj = msg.payload\nlet tagObj = {}\nlet newPayload = {}\nfor(key in headerObj){\n  let tmp = {}\n  if(obj[key]){\n    if(headerObj[key] == '_id')\n      tagObj[headerObj[key]] = obj[key] + ''\n    else{\n      if(headerObj[key].indexOf('.') == -1){\n        tagObj[headerObj[key]] = obj[key]\n      }else{\n        let lv = headerObj[key].split('.')\n        if(tagObj[lv[0]] !== undefined){\n          tmp = tagObj[lv[0]]\n        }\n        tmp[lv[1]] = obj[key]\n        tagObj[lv[0]] = tmp\n      }\n    }\n  }\n}\ntagObj['token'] = 'system_trigger'\ntagObj['objId'] = '-1'\nmsg.payload = tagObj\nreturn msg","outputs":1,"noerr":0,"x":1746.5,"y":273,"wires":[["1c20ee84.515cf1","adefd879.7ddc38"]]},{"id":"3859ab21.0d2c84","type":"join","z":"9bfcfd67.0ec5e","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","reduceRight":false,"x":1727.5,"y":432,"wires":[["8025614c.cfa59"]]},{"id":"1c20ee84.515cf1","type":"http request","z":"9bfcfd67.0ec5e","name":"","method":"POST","ret":"obj","url":"http://10.70.51.54:1887/{{tagType}}/tag","tls":"","x":1747.5,"y":353,"wires":[["3859ab21.0d2c84"]]},{"id":"adefd879.7ddc38","type":"debug","z":"9bfcfd67.0ec5e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":2030.5,"y":290,"wires":[]},{"id":"8025614c.cfa59","type":"function","z":"9bfcfd67.0ec5e","name":"check result by tag","func":"let totalCnt = msg.payload.length\nlet errorMsg = ''\nlet successCnt = 0\nlet newPayload = {}\nfor(let i = 0 ; i < msg.payload.length ; i++){\n  if(msg.payload[i].responseCode == '000'){\n    successCnt++\n  }else{\n    errorMsg += 'insert fail at row'+ (i+1) +','\n  }\n}\nif(successCnt == totalCnt){\n  newPayload['responseCode'] = '000'\n  newPayload['responseMsg'] = 'import success'\n}else{\n  newPayload['responseCode'] = '500'\n  newPayload['responseMsg'] = errorMsg\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1773.5,"y":495,"wires":[["3577454.a26c4ba"]]},{"id":"dfd73a1f.b03eb8","type":"objectid","z":"8a963d5.bfd55c","name":"","selectedProperty":"worker_id","x":448,"y":694,"wires":[["b536f052.5f30d"]]},{"id":"cdce2208.2a436","type":"objectid","z":"8a963d5.bfd55c","name":"","selectedProperty":"_id","x":201,"y":1702,"wires":[["d873f672.5bb008"]]},{"id":"effe4d51.4e725","type":"objectid","z":"8a963d5.bfd55c","name":"","selectedProperty":"_id","x":429,"y":2189,"wires":[["b7f98af7.85df68"]]}]