charts/report-svc/flows.json
[{"id":"50351816.addd28","type":"tab","label":"Report Flow","disabled":false,"info":""},{"id":"79cf11e5.76b25","type":"tab","label":"Clean Flow","disabled":false,"info":""},{"id":"fd4472a2.ac2c9","type":"mongodb","z":"","hostname":"mongodb","port":"27017","db":"argi_dev","name":""},{"id":"c99b809c.34646","type":"http in","z":"50351816.addd28","name":"","url":"/rpt","method":"get","upload":false,"swaggerDoc":"","x":145.00001525878906,"y":544.5999908447266,"wires":[["257d910e.aeec3e"]]},{"id":"257d910e.aeec3e","type":"switch","z":"50351816.addd28","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":144.00000762939453,"y":499.5999903678894,"wires":[["f1086a53.d4de88"],["a7c3d3af.0dd96"]]},{"id":"f1086a53.d4de88","type":"function","z":"50351816.addd28","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":137,"y":455.59998893737793,"wires":[["9c2e4061.22e26"]]},{"id":"a7c3d3af.0dd96","type":"function","z":"50351816.addd28","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":485.00000762939453,"y":496.59999084472656,"wires":[["6768f83d.407178"]]},{"id":"fce4ab31.96e488","type":"function","z":"50351816.addd28","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.macAddr){\n  newPayload['macAddr'] = obj.macAddr    \n}\nif(msg['from'] !== undefined && msg['to'] !== undefined ){\n  let dateCond = {}\n  dateCond['$gt'] = new Date(msg['from'])\n  dateCond['$lte'] = new Date(msg['to'])\n  newPayload['recv'] = dateCond\n}\nif(obj.fport){\n  newPayload['extra.fport'] = Number(obj.fport)\n}\n\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":162.99998474121094,"y":161.59999656677246,"wires":[["40f25822.cb38f8","f7a47978.9a5ea8"]]},{"id":"40f25822.cb38f8","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"find raw data Cnt","collection":"devices","operation":"count","x":152.99998474121094,"y":101.59999656677246,"wires":[["f2aef77.5eb9b08","290c5fe4.3ec6e"]]},{"id":"f2aef77.5eb9b08","type":"switch","z":"50351816.addd28","name":"","property":"payload","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":399.99998474121094,"y":101.59999656677246,"wires":[["504d5a5a.173014"],["7a7dc67e.c933a8"]]},{"id":"7a7dc67e.c933a8","type":"function","z":"50351816.addd28","name":"set empty result","func":"let newPayload = {}\nlet dataList = []\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = 0\nnewPayload['data'] = dataList\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":570.9999847412109,"y":155.59999656677246,"wires":[["6768f83d.407178"]]},{"id":"504d5a5a.173014","type":"function","z":"50351816.addd28","name":"set search cond to get data","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nif(obj.macAddr){\n  newPayload['macAddr'] = obj.macAddr    \n}\nif(obj.fport){\n  newPayload['extra.fport'] = Number(obj.fport)\n}\nif(msg['from'] !== undefined && msg['to'] !== undefined ){\n  let dateCond = {}\n  dateCond['$gt'] = new Date(msg['from'])\n  dateCond['$lte'] = new Date(msg['to'])\n  newPayload['recv'] = dateCond\n}\n\nlet paginate = true\nif(obj['showType'] !== undefined && obj['showType'] == 'xls'){\n  paginate = false\n}\nif(obj.paginate){\n  paginate = (obj.paginate === 'true')\n}\nlet page_limit = 10\nif(obj.limit){\n  page_limit = obj.limit\n}\nlet page = 1\nif(obj.page){\n  page = obj.page\n}\nlet offset = (page-1) * page_limit\nlet nextPage = Number(page) + 1\nlet previous = 1\nif(page != 1)\n  previous = Number(page)-1\nelse\n  previous = Number(page)\nif(paginate){\n  msg['limit'] = page_limit\n  msg['skip'] = offset\n}\nlet sort = {}\nsort['recv'] = -1\nif(obj.sort && obj.sort == 'asc'){\n  sort['recv'] = 1\n}\nmsg['sort'] = sort\nobj['next'] = nextPage\nobj['previous'] = previous\nobj['page_limit'] = page_limit\nobj['total'] = msg.payload\n// flow.set('actInfo', obj)\nmsg['actInfo'] = obj\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":594.9999847412109,"y":60.59999656677246,"wires":[["adb10ed9.8831e"]]},{"id":"adb10ed9.8831e","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"find raw data","collection":"devices","operation":"find","x":856.9999847412109,"y":62.59999656677246,"wires":[["e77965b2.e7c928"]]},{"id":"e77965b2.e7c928","type":"function","z":"50351816.addd28","name":"set final result","func":"// let obj = flow.get('actInfo')\nlet obj = msg['actInfo']\nlet newPayload = {}\nlet pageInfo = {}\nlet showType = 'API'\nif(obj['showType'] !== undefined && obj['showType'] == 'xls'){\n  showType = obj['showType']\n}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = Number(obj['total'])\npageInfo['next'] = obj['next']\npageInfo['previous'] = obj['previous']\npageInfo['limit'] = obj['page_limit']\nnewPayload['pages'] = pageInfo\nnewPayload['data'] = msg.payload\nmsg['payload'] = newPayload\nmsg['showType'] = showType\nreturn msg","outputs":1,"noerr":0,"x":844.9999847412109,"y":146.59999656677246,"wires":[["e778f26d.ecf83"]]},{"id":"290c5fe4.3ec6e","type":"debug","z":"50351816.addd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":355.99998474121094,"y":49.59999656677246,"wires":[]},{"id":"f7a47978.9a5ea8","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":387.99998474121094,"y":163.59999656677246,"wires":[]},{"id":"9c2e4061.22e26","type":"switch","z":"50351816.addd28","name":"check from","property":"payload.from","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":145.50002670288086,"y":416.7999897003174,"wires":[["e1383277.ce501"],["16394660.f2e07a"]]},{"id":"e1383277.ce501","type":"switch","z":"50351816.addd28","name":"check to","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":153.00001525878906,"y":373.60001945495605,"wires":[["c59201e7.bef5d"],["298df7f6.22f608"]]},{"id":"16394660.f2e07a","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.from","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"from","outputType":"msg","outTz":"Etc/UTC","x":400.50000762939453,"y":430.3999900817871,"wires":[["e1383277.ce501"]]},{"id":"298df7f6.22f608","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.to","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"to","outputType":"msg","outTz":"Etc/UTC","x":394,"y":367.20001220703125,"wires":[["c59201e7.bef5d"]]},{"id":"e778f26d.ecf83","type":"switch","z":"50351816.addd28","name":"check showType","property":"showType","propertyType":"msg","rules":[{"t":"eq","v":"xls","vt":"str"},{"t":"eq","v":"API","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":1022.699951171875,"y":105.4000244140625,"wires":[["7f4cdca9.847644"],["6768f83d.407178"]]},{"id":"9e5465c3.188e48","type":"excel","z":"50351816.addd28","name":"","file":"/data/report/test.csv","x":1708.6999626159668,"y":186.8000003695488,"wires":[["d1f0c866.b48168"]]},{"id":"cba3be55.cf974","type":"function","z":"50351816.addd28","name":"set excel data","func":"let newPayload = []\nlet events = msg['events']\nlet obj = msg['actInfo']\nif(msg.payload.length > 0){\n  let mapObj = msg.payload[0]\n  for(let i = 0 ; i < events.length ; i++){\n    let cell = {}\n    let eventObj = events[i]\n    for(let j = 0 ; j < mapObj.showField.event.length ; j++){\n      let field = mapObj.showField.event[j]['name']\n      if(field.indexOf('.') != -1){\n        let cp = ''\n        let eventArray = field.split('.')\n        let tempObj = eventObj\n        for(let k = 0 ; k < eventArray.length ; k++){\n          if(k < eventArray.length -1){\n            tempObj = tempObj[eventArray[k]]\n          }else{\n            cell[eventArray[k]] = tempObj[eventArray[k]]\n          }\n        }\n      }else{\n        cell[field] = eventObj[field]\n      }\n    }\n    newPayload.push(cell)\n  }   \n}\nmsg.payload = newPayload\nlet fileName = obj.fport+'_'+getRandomNumber(1000)+'.xls'\nif(obj['fileName'] !== undefined){\n  fileName = obj['fileName']+'.xls'\n}\nmsg['fileName'] = fileName\nmsg['filepath']='/data/report/'+fileName\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":1472.7000064849854,"y":152.4000244140625,"wires":[["d86356eb.09df18","9e5465c3.188e48"]]},{"id":"7f4cdca9.847644","type":"function","z":"50351816.addd28","name":"get map info","func":"let newPayload = {}\nlet obj = msg['actInfo']\nnewPayload['deviceType'] = obj.fport+''\nmsg['events'] = msg.payload.data\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1172.599952697754,"y":45,"wires":[["edd8c39a.482b"]]},{"id":"edd8c39a.482b","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"get map info","collection":"maps","operation":"find","x":1286.1000061035156,"y":110.19998550415039,"wires":[["cba3be55.cf974","d76c1f98.36eeb"]]},{"id":"d86356eb.09df18","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1752.5000076293945,"y":82.80001157522202,"wires":[]},{"id":"d76c1f98.36eeb","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":1526.499984741211,"y":74.79999351501465,"wires":[]},{"id":"d1f0c866.b48168","type":"function","z":"50351816.addd28","name":"set topic","func":"msg['filename'] = msg['filepath']\nmsg['headers']={'Content-Disposition':'attachment; filename='+msg['fileName']}\nmsg.payload = null\nreturn msg","outputs":1,"noerr":0,"x":1797.1999588012695,"y":269.6000003814697,"wires":[["b96f8789.bf1e38"]]},{"id":"b96f8789.bf1e38","type":"file in","z":"50351816.addd28","name":"","filename":"","format":"","chunk":false,"sendError":false,"x":1961.6999626159668,"y":296.8000011444092,"wires":[["be956bad.90af08"]]},{"id":"be956bad.90af08","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":2113.199966430664,"y":294.60000133514404,"wires":[]},{"id":"6768f83d.407178","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":1958.9999656677246,"y":422.60000228881836,"wires":[]},{"id":"b18ee349.201e4","type":"function","z":"50351816.addd28","name":"set topic","func":"let attachments = []\nlet attachment = {}\nmsg['from']='reply@mail1.notice.securepilot.com'\nmsg['topic'] = 'monthly report'\nattachment['filename'] = msg['fileName']\nattachment['path'] = msg['filepath']\nattachments.push(attachment)\nmsg['attachments'] = attachments\nmsg.payload = 'Dear Sir, <br>please check the report.<br>B.R.'\nreturn msg","outputs":1,"noerr":0,"x":1984.5999755859375,"y":196,"wires":[["de81e5ce.3bdb08"]]},{"id":"de81e5ce.3bdb08","type":"e-mail","z":"50351816.addd28","server":"52.5.68.151","port":"465","secure":true,"name":"andy_he@gemteks.com","dname":"","x":2241.7998657226562,"y":194.39999198913574,"wires":[]},{"id":"b20e0829.abfac8","type":"watch","z":"79cf11e5.76b25","name":"","files":"/data/report","recursive":"","x":141.5,"y":253.80000114440918,"wires":[["6adb977a.877428"]]},{"id":"8b8b23a4.da128","type":"exec","z":"79cf11e5.76b25","command":"","addpay":true,"append":"","useSpawn":"false","timer":"","oldrc":false,"name":"cmd to the OS","x":702.5000076293945,"y":287.3000659942627,"wires":[["3573f8c1.021cc8"],["3573f8c1.021cc8"],["3573f8c1.021cc8"]]},{"id":"94e38d1e.da89f","type":"debug","z":"79cf11e5.76b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":613.5000076293945,"y":403.6000175476074,"wires":[]},{"id":"6adb977a.877428","type":"delay","z":"79cf11e5.76b25","name":"","pauseType":"delay","timeout":"5","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":155.50000381469727,"y":309.0000400543213,"wires":[["8927571c.6ffdc8"]]},{"id":"7a6247f8.554078","type":"function","z":"79cf11e5.76b25","name":"set delete cmd","func":"msg.payload = 'rm '+msg.payload \nreturn msg","outputs":1,"noerr":0,"x":467.50000381469727,"y":303.0000400543213,"wires":[["94e38d1e.da89f","8b8b23a4.da128"]]},{"id":"3573f8c1.021cc8","type":"debug","z":"79cf11e5.76b25","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":860.0000114440918,"y":293.2000160217285,"wires":[]},{"id":"8927571c.6ffdc8","type":"switch","z":"79cf11e5.76b25","name":"","property":"type","propertyType":"msg","rules":[{"t":"neq","v":"none","vt":"str"},{"t":"eq","v":"none","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":293.50000381469727,"y":308.40001678466797,"wires":[["7a6247f8.554078"],["94e38d1e.da89f"]]},{"id":"310275f.080e28a","type":"http in","z":"50351816.addd28","name":"","url":"/chk","method":"get","upload":false,"swaggerDoc":"","x":187.00001525878906,"y":1277.1999053955078,"wires":[["94079bd6.393e88"]]},{"id":"94079bd6.393e88","type":"switch","z":"50351816.addd28","name":"check token","property":"payload.token","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":186.00000762939453,"y":1232.1999049186707,"wires":[["adcdc54a.647468"],["7ff44181.03f74"]]},{"id":"adcdc54a.647468","type":"function","z":"50351816.addd28","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":179,"y":1188.1999034881592,"wires":[["404cc6b3.fd3f98"]]},{"id":"7ff44181.03f74","type":"function","z":"50351816.addd28","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":527.0000076293945,"y":1229.1999053955078,"wires":[["f0edd268.60632"]]},{"id":"cd1d62de.f180f","type":"function","z":"50351816.addd28","name":"set search cond to get cnt","func":"let obj = msg['actInfo']\nlet newPayload = {}\nif(obj.macAddr !== undefined){\n  newPayload['macAddr'] = obj.macAddr    \n}\nif(msg['from'] !== undefined && msg['to'] !== undefined ){\n  let dateCond = {}\n  dateCond['$gt'] = new Date(msg['from'])\n  dateCond['$lte'] = new Date(msg['to'])\n  newPayload['recv'] = dateCond\n}\nif(obj.fport !== undefined){\n  newPayload['extra.fport'] = Number(obj.fport)\n}\n\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":191.99998474121094,"y":893.1999664306641,"wires":[["f522d956.f85d88","6ee70e9d.73204"]]},{"id":"f522d956.f85d88","type":"mongodb in","z":"50351816.addd28","mongodb":"fd4472a2.ac2c9","name":"find raw data Cnt","collection":"devices","operation":"count","x":181.99998474121094,"y":833.1999664306641,"wires":[["1102d2c3.cb23bd","f39f110c.cb049"]]},{"id":"f39f110c.cb049","type":"function","z":"50351816.addd28","name":"set empty result","func":"let newPayload = {}\nlet dataList = []\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'query success'\nnewPayload['total'] = msg.payload\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":543.0001068115234,"y":833.2000122070312,"wires":[["f0edd268.60632"]]},{"id":"1102d2c3.cb23bd","type":"debug","z":"50351816.addd28","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":384.99998474121094,"y":781.1999664306641,"wires":[]},{"id":"6ee70e9d.73204","type":"debug","z":"50351816.addd28","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":416.99998474121094,"y":895.1999664306641,"wires":[]},{"id":"404cc6b3.fd3f98","type":"switch","z":"50351816.addd28","name":"check from","property":"payload.from","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":187.50002670288086,"y":1149.3999042510986,"wires":[["d479dbf8.6f1b48"],["b20d8231.1d75c"]]},{"id":"d479dbf8.6f1b48","type":"switch","z":"50351816.addd28","name":"check to","property":"payload.to","propertyType":"msg","rules":[{"t":"null"},{"t":"nnull"}],"checkall":"true","repair":false,"outputs":2,"x":195.00001525878906,"y":1106.1999340057373,"wires":[["2fadf6bd.be5c1a"],["7ab4458.bee26bc"]]},{"id":"b20d8231.1d75c","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.from","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"from","outputType":"msg","outTz":"Etc/UTC","x":442.50000762939453,"y":1162.9999046325684,"wires":[["d479dbf8.6f1b48"]]},{"id":"7ab4458.bee26bc","type":"moment","z":"50351816.addd28","name":"","topic":"","input":"payload.to","inputType":"msg","inTz":"Asia/Taipei","adjAmount":0,"adjType":"days","adjDir":"add","format":"","locale":"POSIX","output":"to","outputType":"msg","outTz":"Etc/UTC","x":436,"y":1099.7999267578125,"wires":[["2fadf6bd.be5c1a"]]},{"id":"f0edd268.60632","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":1039.0000247955322,"y":992.2000141143799,"wires":[]},{"id":"2fadf6bd.be5c1a","type":"http request","z":"50351816.addd28","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":189,"y":1060,"wires":[["a3d0335a.4bf61"]]},{"id":"a3d0335a.4bf61","type":"function","z":"50351816.addd28","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":184,"y":1003,"wires":[["be56916f.5935c"]]},{"id":"be56916f.5935c","type":"switch","z":"50351816.addd28","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":183,"y":954,"wires":[["cd1d62de.f180f"],["4d6c73e0.cb595c"]]},{"id":"4d6c73e0.cb595c","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":435.5,"y":977,"wires":[]},{"id":"c59201e7.bef5d","type":"http request","z":"50351816.addd28","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":149,"y":317,"wires":[["cef08d77.d9fd3"]]},{"id":"cef08d77.d9fd3","type":"function","z":"50351816.addd28","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":144,"y":260,"wires":[["1f66ad0f.311c23"]]},{"id":"1f66ad0f.311c23","type":"switch","z":"50351816.addd28","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":143,"y":211,"wires":[["fce4ab31.96e488"],["6feb550e.ef4e5c"]]},{"id":"6feb550e.ef4e5c","type":"http response","z":"50351816.addd28","name":"","statusCode":"","headers":{},"x":395.5,"y":234,"wires":[]}]