charts/location-svc/flows.json
[{"id":"bb008a4c.f9f0a8","type":"tab","label":"Plan Flow","disabled":false,"info":""},{"id":"72cb6517.eb2fbc","type":"tab","label":"UI Flow","disabled":false,"info":""},{"id":"a86e9a95.d7e5e8","type":"cloudant","z":"","host":"http://cloudant-developer","name":""},{"id":"506fa816.38bde8","type":"http in","z":"bb008a4c.f9f0a8","name":"","url":"/plan","method":"post","upload":true,"swaggerDoc":"","x":104,"y":637,"wires":[["7cf0001e.9b9cf","ae33c29d.18fa1"]]},{"id":"18b0401d.c8077","type":"switch","z":"bb008a4c.f9f0a8","name":"check name","property":"payload.name.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":106,"y":531,"wires":[["af56f4ac.49a1b8"],["59640a20.0d7154"]]},{"id":"af56f4ac.49a1b8","type":"switch","z":"bb008a4c.f9f0a8","name":"check desc","property":"payload.desc.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":103.5,"y":483,"wires":[["d4128ea0.1627f"],["59640a20.0d7154"]]},{"id":"d4128ea0.1627f","type":"switch","z":"bb008a4c.f9f0a8","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":101.5,"y":435,"wires":[["c3b2533d.58d29"],["59640a20.0d7154"]]},{"id":"c3b2533d.58d29","type":"function","z":"bb008a4c.f9f0a8","name":"check login history","func":"if(msg.req.files.length > 0){\n  msg.payload['rawData'] = msg.req.files[0].buffer.toString('base64')\n  msg.payload['contentType'] = msg.req.files[0].mimetype\n  msg.payload['originalname'] = msg.req.files[0].originalname    \n}\nmsg['actInfo'] =  msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg\n","outputs":1,"noerr":0,"x":106.5,"y":393,"wires":[["2e41696f.3e6076"]]},{"id":"9275b09a.69bac","type":"switch","z":"bb008a4c.f9f0a8","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":123.5,"y":70,"wires":[["1a8e78a9.a40fb7"],["9871ff22.2b3a3"]]},{"id":"9871ff22.2b3a3","type":"function","z":"bb008a4c.f9f0a8","name":"set token fail","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":408.5,"y":121,"wires":[["90eec63d.502e18"]]},{"id":"59640a20.0d7154","type":"function","z":"bb008a4c.f9f0a8","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":407.5,"y":481,"wires":[["90eec63d.502e18"]]},{"id":"90eec63d.502e18","type":"http response","z":"bb008a4c.f9f0a8","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":1184,"y":461,"wires":[]},{"id":"8f04e723.c1a238","type":"cloudant out","z":"bb008a4c.f9f0a8","name":"","cloudant":"a86e9a95.d7e5e8","database":"plan_info","service":"_ext_","payonly":true,"operation":"insert","x":1384,"y":20,"wires":[]},{"id":"2352b387.3e73ec","type":"function","z":"bb008a4c.f9f0a8","name":"set payload to insert","func":"let newPayload = {}\nlet actInfo = msg['actInfo']\nlet name = actInfo.originalname\nlet rawData = actInfo.rawData\nlet contentType = actInfo.contentType\nlet attachments = {}\nnewPayload['cpId'] = actInfo.cpId\nnewPayload['userId'] = actInfo.userId\nnewPayload['name'] = actInfo.name\nnewPayload['desc'] = actInfo.desc\nnewPayload['version'] = actInfo.version\nif(actInfo.verifier)\n  newPayload['verifier'] = actInfo.verifier\n\nif(rawData){\n  attachments[name] = {\n    \"content_type\":contentType,\n    \"data\": rawData\n  }\n  newPayload['_attachments'] = attachments    \n}\nmsg.payload = newPayload\nreturn msg;","outputs":1,"noerr":0,"x":615,"y":31,"wires":[["8f04e723.c1a238","427f2025.7871d"]]},{"id":"427f2025.7871d","type":"function","z":"bb008a4c.f9f0a8","name":"set success result","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nif(msg['id'] == -1){\n  newPayload['responseMsg'] = 'insert success'    \n}else{\n  newPayload['responseMsg'] = 'update success'\n}\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1557.5,"y":73,"wires":[["90eec63d.502e18"]]},{"id":"931a2f20.cc2fe","type":"http in","z":"bb008a4c.f9f0a8","name":"","url":"/plan","method":"get","upload":false,"swaggerDoc":"","x":144.5,"y":1084,"wires":[["8f5afa80.6295f8","265a8f2d.9cdba"]]},{"id":"8f5afa80.6295f8","type":"switch","z":"bb008a4c.f9f0a8","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":133.5,"y":1030,"wires":[["80a4bdba.b17c"],["7d2c3efc.ef141"]]},{"id":"7d2c3efc.ef141","type":"function","z":"bb008a4c.f9f0a8","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":396.5,"y":1061,"wires":[["870c7ad2.c5c428"]]},{"id":"870c7ad2.c5c428","type":"http response","z":"bb008a4c.f9f0a8","name":"","statusCode":"","headers":{},"x":979.5,"y":859,"wires":[]},{"id":"a8a9d773.faa218","type":"switch","z":"bb008a4c.f9f0a8","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":131.5,"y":734,"wires":[["cbc43d56.e4666"],["e8df27cf.b7d758"]]},{"id":"e8df27cf.b7d758","type":"function","z":"bb008a4c.f9f0a8","name":"set token fail","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":390,"y":780,"wires":[["870c7ad2.c5c428"]]},{"id":"b07af745.a54f88","type":"http in","z":"bb008a4c.f9f0a8","name":"","url":"/plan","method":"delete","upload":false,"swaggerDoc":"","x":127.75,"y":1833.5,"wires":[["1f039cad.3846a3","d61e340e.a20758"]]},{"id":"1e9ac3a3.92b04c","type":"switch","z":"bb008a4c.f9f0a8","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":117.5,"y":1619,"wires":[["eb6c63ae.7376a"],["6e1f5c44.0b1f34"]]},{"id":"8781ffc5.bf76a","type":"switch","z":"bb008a4c.f9f0a8","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":115.5,"y":1304,"wires":[["85f433d3.a53ee"],["6cdc20be.684ed"]]},{"id":"6cdc20be.684ed","type":"function","z":"bb008a4c.f9f0a8","name":"set token fail","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":373.5,"y":1346,"wires":[["b729b76f.dbc6e8"]]},{"id":"6e1f5c44.0b1f34","type":"function","z":"bb008a4c.f9f0a8","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":474.5,"y":1627,"wires":[["b729b76f.dbc6e8"]]},{"id":"b729b76f.dbc6e8","type":"http response","z":"bb008a4c.f9f0a8","name":"","statusCode":"","headers":{},"x":1066,"y":1639.75,"wires":[]},{"id":"16d8059e.96557a","type":"cloudant out","z":"bb008a4c.f9f0a8","name":"","cloudant":"a86e9a95.d7e5e8","database":"plan_info","service":"_ext_","payonly":true,"operation":"delete","x":986.75,"y":1215,"wires":[]},{"id":"85f433d3.a53ee","type":"function","z":"bb008a4c.f9f0a8","name":"set id to check","func":"let newPayload = {}\nlet actInfo = msg['actInfo']\nnewPayload['_id'] = actInfo.id\nmsg.payload = newPayload\nreturn msg;","outputs":1,"noerr":0,"x":129.5,"y":1260.25,"wires":[["df5d8a29.82e648"]]},{"id":"42437e6d.aff4b","type":"function","z":"bb008a4c.f9f0a8","name":"set success result","func":"let newPayload = {}\nnewPayload['responseCode'] = '000'\nnewPayload['responseMsg'] = 'delete success'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":992.5,"y":1276.5,"wires":[["b729b76f.dbc6e8"]]},{"id":"4d63f0e2.ee272","type":"switch","z":"bb008a4c.f9f0a8","name":"check id","property":"payload.id.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":125.5,"y":1673.5,"wires":[["1e9ac3a3.92b04c"],["6e1f5c44.0b1f34"]]},{"id":"df5d8a29.82e648","type":"cloudant in","z":"bb008a4c.f9f0a8","name":"","cloudant":"a86e9a95.d7e5e8","database":"plan_info","service":"_ext_","search":"_id_","design":"","index":"","x":360.375,"y":1261,"wires":[["e53cd11.63e243"]]},{"id":"e53cd11.63e243","type":"function","z":"bb008a4c.f9f0a8","name":"set exist","func":"let actInfo = msg['actInfo']\nlet existFlg = false\nif(msg.payload !== null){\n  existFlg = true\n}\nmsg['existFlg'] = existFlg\nreturn msg","outputs":1,"noerr":0,"x":587.125,"y":1259.75,"wires":[["ef1ed37b.b39d6"]]},{"id":"ef1ed37b.b39d6","type":"switch","z":"bb008a4c.f9f0a8","name":"","property":"existFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":749.875,"y":1261,"wires":[["16d8059e.96557a","42437e6d.aff4b"],["8a913054.02893"]]},{"id":"8a913054.02893","type":"function","z":"bb008a4c.f9f0a8","name":"set no data","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'No exist data'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":906,"y":1342.5,"wires":[["b729b76f.dbc6e8"]]},{"id":"cbc43d56.e4666","type":"http request","z":"bb008a4c.f9f0a8","name":"","method":"GET","ret":"obj","url":"http://cloudant-developer/plan_info/_design/iotPlan/_view/by-cpId?key=\"{{cpId}}\"","tls":"","x":389.625,"y":702.5,"wires":[["ee6955cb.0f36f8","9b4ebf8a.f3416"]]},{"id":"e1143342.dae53","type":"function","z":"bb008a4c.f9f0a8","name":"set result","func":"let newPayload = {}\n// let urlTemplate = 'https://a9168397-afad-400f-b3c4-a896d9f4c249-bluemix:675567ac947d914b2df745c89bd90296d77b98597bc61ab08104f33aa240f238@a9168397-afad-400f-b3c4-a896d9f4c249-bluemix.cloudant.com/firmware_info/{id}/{name}'\nif(msg.payload.rows.length>0){\n  let firmArray = []\n  for(let i = 0 ; i < msg.payload.rows.length ; i++){\n    let f = {}\n    f['id'] = msg.payload.rows[i].id\n    f['name'] = msg.payload.rows[i].value.name?msg.payload.rows[i].value.name:'NA'\n    f['desc'] = msg.payload.rows[i].value.desc?msg.payload.rows[i].value.desc:'NA'\n    f['version'] = msg.payload.rows[i].value.version?msg.payload.rows[i].value.version:'NA'\n    f['verifier'] = msg.payload.rows[i].value.version?msg.payload.rows[i].value.verifier:'NA'\n    if(msg.payload.rows[i].value._attachments){\n        for(let k in msg.payload.rows[i].value._attachments){\n            var key = k\n            var val = msg.payload.rows[i].value._attachments[k]\n            for(var j in val){\n                var sub_key = j\n                if(sub_key === 'content_type'){\n                  f['content_type'] = val[j]\n                }\n                if(sub_key === 'length'){\n                  f['length'] = val[j]\n                }\n            }\n            f['fileName'] = key\n            // f['url'] = encodeURI(urlTemplate.replace('{id}', msg.payload.rows[i].id).replace('{name}', key))\n        }\n    }\n    firmArray.push(f)\n  }\n  newPayload['fList'] = firmArray\n  newPayload['responseCode'] = '000'\n  newPayload['responseMsg'] = 'query success'  \n}else{\n  newPayload['responseCode'] = '404'\n  newPayload['responseMsg'] = 'no exist data'\n}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":780,"y":720,"wires":[["870c7ad2.c5c428"]]},{"id":"ee6955cb.0f36f8","type":"debug","z":"bb008a4c.f9f0a8","name":"","active":true,"console":"false","complete":"true","x":1210,"y":640,"wires":[]},{"id":"78bf0ede.a0d9a","type":"switch","z":"bb008a4c.f9f0a8","name":"check version","property":"payload.version","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","outputs":2,"x":109.5,"y":570,"wires":[["18b0401d.c8077"],["59640a20.0d7154"]]},{"id":"7cf0001e.9b9cf","type":"debug","z":"bb008a4c.f9f0a8","name":"","active":true,"console":"false","complete":"true","x":393,"y":609,"wires":[]},{"id":"ae33c29d.18fa1","type":"switch","z":"bb008a4c.f9f0a8","name":"check id","property":"payload.id.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":104.5,"y":603,"wires":[["78bf0ede.a0d9a"],["59640a20.0d7154"]]},{"id":"59023d69.7e6b04","type":"function","z":"bb008a4c.f9f0a8","name":"set id to check","func":"let newPayload = {}\nlet actInfo = msg['actInfo']\nnewPayload['_id'] = actInfo.id\nmsg.payload = newPayload\nreturn msg;","outputs":1,"noerr":0,"x":599.5,"y":84,"wires":[["7eb62362.1a999c"]]},{"id":"7eb62362.1a999c","type":"cloudant in","z":"bb008a4c.f9f0a8","name":"","cloudant":"a86e9a95.d7e5e8","database":"plan_info","service":"_ext_","search":"_id_","design":"","index":"","x":785.375,"y":83.75,"wires":[["8741a944.d3ab48"]]},{"id":"8741a944.d3ab48","type":"function","z":"bb008a4c.f9f0a8","name":"set exist","func":"let actInfo = msg['actInfo']\nlet existFlg = false\nif(msg.payload !== null){\n  msg.payload['name'] = actInfo.name\n  msg.payload['desc'] = actInfo.desc\n  existFlg = true\n}\nmsg['existFlg'] = existFlg\nreturn msg","outputs":1,"noerr":0,"x":978.125,"y":122.5,"wires":[["9db9dfe.e96fc2"]]},{"id":"9db9dfe.e96fc2","type":"switch","z":"bb008a4c.f9f0a8","name":"","property":"existFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":1070.875,"y":193.75,"wires":[["adc5779f.2984c8"],["ddef3b67.918b78"]]},{"id":"1a8e78a9.a40fb7","type":"switch","z":"bb008a4c.f9f0a8","name":"check id","property":"id","propertyType":"msg","rules":[{"t":"eq","v":"-1","vt":"str"},{"t":"neq","v":"-1","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":400,"y":50,"wires":[["2352b387.3e73ec"],["59023d69.7e6b04"]]},{"id":"ddef3b67.918b78","type":"function","z":"bb008a4c.f9f0a8","name":"set no data","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'No exist data'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1271.5,"y":228,"wires":[["90eec63d.502e18"]]},{"id":"adc5779f.2984c8","type":"function","z":"bb008a4c.f9f0a8","name":"set payload to update","func":"let actInfo = msg['actInfo']\nlet name = actInfo.originalname\nlet rawData = actInfo.rawData\nlet contentType = actInfo.contentType\nlet attachments = {}\nmsg.payload['cpId'] = actInfo.cpId\nmsg.payload['userId'] = actInfo.userId\nmsg.payload['name'] = actInfo.name\nmsg.payload['desc'] = actInfo.desc\nmsg.payload['version'] = actInfo.version\nif(actInfo.verifier)\n  msg.payload['verifier'] = actInfo.verifier\n  \nif(rawData){\n  attachments[name] = {\n    \"content_type\":contentType,\n    \"data\": rawData\n  }\n  msg.payload['_attachments'] = attachments    \n}\nreturn msg;","outputs":1,"noerr":0,"x":1299.5,"y":170,"wires":[["8f04e723.c1a238","427f2025.7871d"]]},{"id":"1f039cad.3846a3","type":"debug","z":"bb008a4c.f9f0a8","name":"","active":true,"console":"false","complete":"true","x":391,"y":1789,"wires":[]},{"id":"265a8f2d.9cdba","type":"debug","z":"bb008a4c.f9f0a8","name":"","active":true,"console":"false","complete":"true","x":242,"y":1165,"wires":[]},{"id":"ee17c1b1.ebd17","type":"switch","z":"bb008a4c.f9f0a8","name":"check checkPara","property":"checkPara","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":160,"y":1723,"wires":[["4d63f0e2.ee272"],["6e1f5c44.0b1f34"]]},{"id":"d61e340e.a20758","type":"function","z":"bb008a4c.f9f0a8","name":"set checkPara","func":"let checkPara = false\nif(msg.payload && msg.payload.id && msg.payload.token)\n  checkPara = true\nmsg['checkPara'] = checkPara\nreturn msg","outputs":1,"noerr":0,"x":131,"y":1780,"wires":[["ee17c1b1.ebd17"]]},{"id":"dd570ac1.5bcf28","type":"function","z":"bb008a4c.f9f0a8","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\n  check = 1\n  actInfo['grp'] = ar[0]\n  actInfo['ts'] = ar[1]\n  actInfo['userId'] = ar[2]\n  actInfo['cpId'] = ar[3]\n  actInfo['roleId'] = ar[4]\n  actInfo['dataset'] = ar[5]\n  msg['actInfo'] = actInfo\n  msg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nmsg['id'] = actInfo.id\nreturn msg","outputs":1,"noerr":0,"x":122.5,"y":112,"wires":[["9275b09a.69bac"]]},{"id":"69927403.80281c","type":"function","z":"bb008a4c.f9f0a8","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\n  check = 1\n  actInfo['grp'] = ar[0]\n  actInfo['ts'] = ar[1]\n  actInfo['userId'] = ar[2]\n  actInfo['cpId'] = ar[3]\n  actInfo['roleId'] = ar[4]\n  actInfo['dataset'] = ar[5]\n  msg['actInfo'] = actInfo\n  msg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nmsg['cpId'] = actInfo.cpId\nreturn msg","outputs":1,"noerr":0,"x":113.5,"y":772,"wires":[["a8a9d773.faa218"]]},{"id":"515bae56.37d1d","type":"function","z":"bb008a4c.f9f0a8","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\n  check = 1\n  actInfo['grp'] = ar[0]\n  actInfo['ts'] = ar[1]\n  actInfo['userId'] = ar[2]\n  actInfo['cpId'] = ar[3]\n  actInfo['roleId'] = ar[4]\n  actInfo['dataset'] = ar[5]\n  flow.set('actInfo', actInfo)\n  msg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":116.5,"y":1344,"wires":[["8781ffc5.bf76a"]]},{"id":"f726eb4c.6e7858","type":"http in","z":"72cb6517.eb2fbc","name":"","url":"/upload","method":"get","upload":false,"swaggerDoc":"","x":121,"y":82,"wires":[["3fc99d30.f23d32"]]},{"id":"3fc99d30.f23d32","type":"template","z":"72cb6517.eb2fbc","name":"","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"<h1>Upload a file here:</h1>\n\n<!--<form action=\"https://api.us.apiconnect.ibmcloud.com/ctosw5-cloud3/sb/device/v1/fw\" method=\"POST\" enctype=\"multipart/form-data\">-->\n<form action=\"/plan\" method=\"POST\" enctype=\"multipart/form-data\">\n    <input type=\"file\" name=\"myFile\" /><br>\n    id:<input type=\"text\" name=\"id\" /><br>\n    name:<input type=\"text\" name=\"name\" /><br>\n    desc:<input type=\"text\" name=\"desc\" /><br>\n    version:<input type=\"text\" name=\"version\" /><br>\n    token:<input type=\"text\" name=\"token\" /><br>\n    <input type=\"submit\" value=\"Submit\">\n</form>","output":"str","x":301,"y":82,"wires":[["ce3410ec.19d9"]]},{"id":"ce3410ec.19d9","type":"http response","z":"72cb6517.eb2fbc","name":"","x":461,"y":82,"wires":[]},{"id":"37f4552d.bdc5fa","type":"comment","z":"72cb6517.eb2fbc","name":"Simple file upload example","info":"http://localhost:1880/upload","x":161,"y":42,"wires":[]},{"id":"c839f73c.1fedc8","type":"http in","z":"72cb6517.eb2fbc","name":"","url":"/img","method":"get","upload":false,"swaggerDoc":"","x":111.49999618530273,"y":644.5000019073486,"wires":[["2a92cb27.d07564","5577b006.1a208"]]},{"id":"12bcad17.9af043","type":"switch","z":"72cb6517.eb2fbc","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","repair":false,"outputs":2,"x":120.49999618530273,"y":545.9999923706055,"wires":[["5890ad01.59f254"],["eb0dd0c4.7de13"]]},{"id":"eb0dd0c4.7de13","type":"function","z":"72cb6517.eb2fbc","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":417,"y":559,"wires":[["3f91faab.7f7dc6"]]},{"id":"3f91faab.7f7dc6","type":"http response","z":"72cb6517.eb2fbc","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":968.25,"y":653.25,"wires":[]},{"id":"71f50a26.68fd14","type":"switch","z":"72cb6517.eb2fbc","name":"check token len","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"else"}],"checkall":"true","outputs":2,"x":136,"y":222.75000286102295,"wires":[["9cd07682.cab458"],["ff714ed4.25674"]]},{"id":"ff714ed4.25674","type":"function","z":"72cb6517.eb2fbc","name":"set token fail","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":391.5,"y":253,"wires":[["3f91faab.7f7dc6"]]},{"id":"2a92cb27.d07564","type":"debug","z":"72cb6517.eb2fbc","name":"","active":true,"console":"false","complete":"true","x":308,"y":655.7500019073486,"wires":[]},{"id":"f40ba648.1dfb08","type":"function","z":"72cb6517.eb2fbc","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\ncheck = 1\nactInfo['grp'] = ar[0]\nactInfo['ts'] = ar[1]\nactInfo['userId'] = ar[2]\nactInfo['cpId'] = ar[3]\nactInfo['roleId'] = ar[4]\nactInfo['dataset'] = ar[5]\nmsg['actInfo'] = actInfo\nmsg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nmsg['cpId'] = actInfo.cpId\nreturn msg","outputs":1,"noerr":0,"x":120.5,"y":267,"wires":[["71f50a26.68fd14"]]},{"id":"5577b006.1a208","type":"switch","z":"72cb6517.eb2fbc","name":"check id","property":"payload.id","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":115.24999618530273,"y":593.2500019073486,"wires":[["12bcad17.9af043"],["eb0dd0c4.7de13"]]},{"id":"9cd07682.cab458","type":"function","z":"72cb6517.eb2fbc","name":"set id to check","func":"let newPayload = {}\nlet actInfo = msg['actInfo']\nnewPayload['_id'] = actInfo.id\nmsg.payload = newPayload\nreturn msg;","outputs":1,"noerr":0,"x":390.00000762939453,"y":205.0000023841858,"wires":[["3831c018.f7ff"]]},{"id":"3831c018.f7ff","type":"cloudant in","z":"72cb6517.eb2fbc","name":"","cloudant":"a86e9a95.d7e5e8","database":"plan_info","service":"_ext_","search":"_id_","design":"","index":"","x":607.2500076293945,"y":187.50000381469727,"wires":[["b5a94bf1.432828"]]},{"id":"b5a94bf1.432828","type":"function","z":"72cb6517.eb2fbc","name":"set exist","func":"let actInfo = msg['actInfo']\nlet existFlg = false\nif(msg.payload !== null){\n  msg.payload['name'] = actInfo.name\n  msg.payload['desc'] = actInfo.desc\n  existFlg = true\n}\nmsg['existFlg'] = existFlg\nreturn msg","outputs":1,"noerr":0,"x":749.0000152587891,"y":256.25000190734863,"wires":[["26c8dced.6baea4"]]},{"id":"26c8dced.6baea4","type":"switch","z":"72cb6517.eb2fbc","name":"","property":"existFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","outputs":2,"x":876.7500152587891,"y":312.5000033378601,"wires":[["44ad1652.301e18"],["ae9bd778.bda778"]]},{"id":"ae9bd778.bda778","type":"function","z":"72cb6517.eb2fbc","name":"set no data","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'No exist data'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":944.8750228881836,"y":374.25000381469727,"wires":[["3f91faab.7f7dc6"]]},{"id":"44ad1652.301e18","type":"function","z":"72cb6517.eb2fbc","name":"set image url to payload","func":"let actInfo = msg['actInfo']\nlet urlTemplate = 'http://admin:pass@cloudant-developer/plan_info/{id}/{name}'\nlet url = ''\n\n\nif(msg.payload._attachments){\n  for(let k in msg.payload._attachments){\n    let key = k\n    let val = msg.payload._attachments[k]\n    url = encodeURI(urlTemplate.replace('{id}', msg.payload._id).replace('{name}', key))\n  }\n}\nmsg.payload = url\nmsg.url = url\nreturn msg\n","outputs":1,"noerr":0,"x":1030.3750190734863,"y":220.00000381469727,"wires":[["3eaaa09d.a24c3"]]},{"id":"3eaaa09d.a24c3","type":"http request","z":"72cb6517.eb2fbc","name":"","method":"GET","ret":"bin","url":"","tls":"","x":1175.6250228881836,"y":298.75000381469727,"wires":[["3f91faab.7f7dc6"]]},{"id":"5890ad01.59f254","type":"function","z":"72cb6517.eb2fbc","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg","outputs":1,"noerr":0,"x":136.5,"y":493,"wires":[["b4e4386d.b33608"]]},{"id":"b4e4386d.b33608","type":"http request","z":"72cb6517.eb2fbc","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":134,"y":419,"wires":[["819ee02f.52b8c"]]},{"id":"819ee02f.52b8c","type":"function","z":"72cb6517.eb2fbc","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":134,"y":379,"wires":[["4f6dd303.9c0bec"]]},{"id":"4f6dd303.9c0bec","type":"switch","z":"72cb6517.eb2fbc","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":124,"y":319,"wires":[["f40ba648.1dfb08"],["3f91faab.7f7dc6"]]},{"id":"eb6c63ae.7376a","type":"function","z":"bb008a4c.f9f0a8","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg","outputs":1,"noerr":0,"x":135,"y":1547,"wires":[["16ebff68.788371"]]},{"id":"16ebff68.788371","type":"http request","z":"bb008a4c.f9f0a8","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":131.5,"y":1501,"wires":[["5315cdc5.5aafd4"]]},{"id":"5315cdc5.5aafd4","type":"function","z":"bb008a4c.f9f0a8","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":131.5,"y":1461,"wires":[["a40ae827.361988"]]},{"id":"a40ae827.361988","type":"switch","z":"bb008a4c.f9f0a8","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":121.5,"y":1401,"wires":[["515bae56.37d1d"],["b729b76f.dbc6e8"]]},{"id":"80a4bdba.b17c","type":"function","z":"bb008a4c.f9f0a8","name":"set para to obj","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg","outputs":1,"noerr":0,"x":133,"y":980,"wires":[["307a5ff9.a30dd"]]},{"id":"307a5ff9.a30dd","type":"http request","z":"bb008a4c.f9f0a8","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":129.5,"y":934,"wires":[["2e0f6f00.812302"]]},{"id":"2e0f6f00.812302","type":"function","z":"bb008a4c.f9f0a8","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":129.5,"y":894,"wires":[["860d2cec.9ac12"]]},{"id":"860d2cec.9ac12","type":"switch","z":"bb008a4c.f9f0a8","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":119.5,"y":834,"wires":[["69927403.80281c"],["870c7ad2.c5c428"]]},{"id":"2e41696f.3e6076","type":"http request","z":"bb008a4c.f9f0a8","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":111,"y":317,"wires":[["62bdf672.1e0c48"]]},{"id":"62bdf672.1e0c48","type":"function","z":"bb008a4c.f9f0a8","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":111,"y":277,"wires":[["1aa22c55.2bf634"]]},{"id":"1aa22c55.2bf634","type":"switch","z":"bb008a4c.f9f0a8","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":101,"y":217,"wires":[["dd570ac1.5bcf28"],["3ccb11c7.a5eebe"]]},{"id":"3ccb11c7.a5eebe","type":"http response","z":"bb008a4c.f9f0a8","name":"","statusCode":"","headers":{},"x":305.5,"y":184,"wires":[]},{"id":"e8d069a8.18d358","type":"catch","z":"bb008a4c.f9f0a8","name":"","scope":["df5d8a29.82e648","7eb62362.1a999c"],"uncaught":false,"x":650,"y":560,"wires":[["a774de72.cff05"]]},{"id":"4fcbbc77.acf0a4","type":"http request","z":"bb008a4c.f9f0a8","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://admin:pass@cloudant-developer/plan_info?partitioned=false","tls":"","proxy":"","authType":"basic","x":1030,"y":560,"wires":[["3b437da8.bd9422"]]},{"id":"a774de72.cff05","type":"function","z":"bb008a4c.f9f0a8","name":"create db plan_info","func":"let newPayload = {}\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":830,"y":560,"wires":[["4fcbbc77.acf0a4"]]},{"id":"3b437da8.bd9422","type":"http response","z":"bb008a4c.f9f0a8","name":"","statusCode":"","headers":{},"x":1190,"y":560,"wires":[]},{"id":"9b4ebf8a.f3416","type":"switch","z":"bb008a4c.f9f0a8","name":"check error","property":"payload.error","propertyType":"msg","rules":[{"t":"nnull"},{"t":"null"}],"checkall":"true","repair":false,"outputs":2,"x":590,"y":700,"wires":[["3a6053a7.91929c"],["e1143342.dae53"]]},{"id":"3a6053a7.91929c","type":"function","z":"bb008a4c.f9f0a8","name":"create view","func":"let newPayload = {}\nlet map = {}\nlet idx = {}\nmap['map'] = 'function (doc) {\\n  if(doc.cpId){\\n    emit(doc.cpId, doc);  \\n  }\\n}'\nidx['by-cpId'] = map\nnewPayload['views'] = idx\nnewPayload['language'] = 'javascript'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":800,"y":680,"wires":[["184b6ead.3db2d1"]]},{"id":"184b6ead.3db2d1","type":"http request","z":"bb008a4c.f9f0a8","name":"","method":"PUT","ret":"obj","paytoqs":false,"url":"http://admin:pass@cloudant-developer/plan_info/_design/iotPlan","tls":"","proxy":"","authType":"basic","x":990,"y":660,"wires":[["ee6955cb.0f36f8","7683196.1ad78e8"]]},{"id":"7683196.1ad78e8","type":"switch","z":"bb008a4c.f9f0a8","name":"","property":"payload.ok","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":570,"y":620,"wires":[["cbc43d56.e4666"],["9f721581.be0a78"]]},{"id":"9f721581.be0a78","type":"function","z":"bb008a4c.f9f0a8","name":"set create view fail","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'create view error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":750,"y":760,"wires":[["870c7ad2.c5c428"]]}]