charts/layout-svc/flows.json
[{"id":"b8bb26e6.0f1778","type":"tab","label":"Web mgm flow","disabled":false,"info":""},{"id":"9d20c80f.23c9a8","type":"tab","label":"Dashboard mgm flow","disabled":false,"info":""},{"id":"e52fb10.5dec85","type":"subflow","name":"MySQL flow","info":"","in":[{"x":46,"y":143,"wires":[{"id":"4f4707.9125d8f8"}]}],"out":[{"x":521,"y":137,"wires":[{"id":"e8a3d501.da3728","port":0},{"id":"eeaaf412.dcd078","port":0}]}]},{"id":"25f9d099.f7f03","type":"MySQLdatabase","z":"e52fb10.5dec85","host":"mysqldb","port":"3306","db":"cloudb_dev","tz":""},{"id":"ed7edf70.63039","type":"MySQLdatabase","z":"e52fb10.5dec85","host":"mysqldb","port":"3306","db":"cloudb_dev","tz":""},{"id":"398a5f3d.51d8c","type":"cloudant","z":"","host":"http://cloudant-developer","name":""},{"id":"a3c4b8df.a5d918","type":"http in","z":"b8bb26e6.0f1778","name":"","url":"/menu/:srv","method":"get","upload":false,"swaggerDoc":"","x":140,"y":440,"wires":[["944d8ccb.f9cab"]]},{"id":"944d8ccb.f9cab","type":"switch","z":"b8bb26e6.0f1778","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":130,"y":400,"wires":[["57f24d52.d72344"],["1c9119b5.ef2ea6"]]},{"id":"57f24d52.d72344","type":"function","z":"b8bb26e6.0f1778","name":"set info to flow","func":"msg.payload['srv'] = msg.req.params.srv\nmsg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg","outputs":1,"noerr":0,"x":144,"y":357,"wires":[["4485abc3.f57ce4"]]},{"id":"1c9119b5.ef2ea6","type":"function","z":"b8bb26e6.0f1778","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":470,"y":400,"wires":[["9b6f213d.a6cc5"]]},{"id":"9b6f213d.a6cc5","type":"http response","z":"b8bb26e6.0f1778","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":910,"y":300,"wires":[]},{"id":"4f4707.9125d8f8","type":"switch","z":"e52fb10.5dec85","name":"lbs","property":"flow","propertyType":"msg","rules":[{"t":"gte","v":"5","vt":"num"},{"t":"lt","v":"5","vt":"str"}],"checkall":"true","outputs":2,"x":161.5,"y":143,"wires":[["e8a3d501.da3728"],["eeaaf412.dcd078"]]},{"id":"e8a3d501.da3728","type":"mysql","z":"e52fb10.5dec85","mydb":"25f9d099.f7f03","name":"cloudb_17","x":347.5,"y":109,"wires":[[]]},{"id":"eeaaf412.dcd078","type":"mysql","z":"e52fb10.5dec85","mydb":"ed7edf70.63039","name":"cloudb_12","x":344.5,"y":172,"wires":[[]]},{"id":"60ec643.314a99c","type":"switch","z":"b8bb26e6.0f1778","name":"check token","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":141.5,"y":134,"wires":[["87224438.effeb8"],["ad6b6932.c90dc8"]]},{"id":"ad6b6932.c90dc8","type":"function","z":"b8bb26e6.0f1778","name":"set token error","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token length error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":413.5,"y":178,"wires":[["9b6f213d.a6cc5"]]},{"id":"87224438.effeb8","type":"function","z":"b8bb26e6.0f1778","name":"set root function query","func":"let dbUser = msg['actInfo']\nlet sqlStr = 'select functionId, functionName, functionUrl, hiddenFlg, parentId from api_function where functionId in (select functionId from api_function_mapping where roleId = '+dbUser.roleId+') and grpId = '+dbUser.srv+' and parentId in (0, -1, -2) order by sortId'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":160,"y":80,"wires":[["9e66d58b.116cb8"]]},{"id":"9e66d58b.116cb8","type":"subflow:e52fb10.5dec85","z":"b8bb26e6.0f1778","x":393.5,"y":93,"wires":[["e5f2487f.ad07c8"]]},{"id":"713a24d2.ee10bc","type":"function","z":"b8bb26e6.0f1778","name":"set function to flow","func":"msg['func'] = msg.payload\nreturn msg","outputs":1,"noerr":0,"x":767.5,"y":60,"wires":[["2afe9198.28fdee"]]},{"id":"2afe9198.28fdee","type":"split","z":"b8bb26e6.0f1778","name":"","splt":"\\n","spltType":"str","arraySplt":1,"arraySpltType":"len","stream":false,"addname":"","x":946.5,"y":61,"wires":[["d5f6fc36.acca"]]},{"id":"d5f6fc36.acca","type":"function","z":"b8bb26e6.0f1778","name":"set sub function query","func":"let sqlStr = 'select functionId, functionName, functionUrl, hiddenFlg, parentId from api_function where parentId = '+msg.payload.functionId+' order by sortId'\nmsg['flow'] = getRandomNumber(10)\nmsg['topic'] = sqlStr\nreturn msg\nfunction getRandomNumber(quantity_of_nums){\n   var milliseconds = new Date().getMilliseconds()\n   return Math.floor(milliseconds * quantity_of_nums / 1000)\n}","outputs":1,"noerr":0,"x":1142.5,"y":62,"wires":[["c1365c8d.c15ab"]]},{"id":"c1365c8d.c15ab","type":"subflow:e52fb10.5dec85","z":"b8bb26e6.0f1778","x":1358.5,"y":62,"wires":[["2415a48e.103eec"]]},{"id":"2415a48e.103eec","type":"join","z":"b8bb26e6.0f1778","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","joinerType":"str","accumulate":"false","timeout":"","count":"","x":1529.5,"y":62,"wires":[["933d061e.49c618"]]},{"id":"933d061e.49c618","type":"function","z":"b8bb26e6.0f1778","name":"combine function","func":"let functions = msg['func']\nlet funcArray = []\nfor(let i = 0 ; i < functions.length ; i++){\n  let func = functions[i]\n  if(msg.payload[i].length > 0){\n    func['child'] = true\n    func['subFunc'] = msg.payload[i]\n  }else{\n    func['child'] = false\n  }\n  funcArray.push(func)\n}\n\nmsg['func'] = funcArray\nreturn msg","outputs":1,"noerr":0,"x":1729.5,"y":62,"wires":[["ce891d33.c278f"]]},{"id":"ce891d33.c278f","type":"function","z":"b8bb26e6.0f1778","name":"set result","func":"let newPayload = {}\nlet userData = {}\nlet func = msg['func']\nif(func.length > 0){\n    newPayload['func'] = func\n    newPayload['responseCode'] = '000'\n    newPayload['responseMsg'] = 'get menu success'\n}else{\n    newPayload['responseCode'] = '404'\n    newPayload['responseMsg'] = 'get menu fail'\n}\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1923.5,"y":63,"wires":[["fa0bb17b.a250e"]]},{"id":"fa0bb17b.a250e","type":"http response","z":"b8bb26e6.0f1778","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":2077.5,"y":62,"wires":[]},{"id":"e5f2487f.ad07c8","type":"switch","z":"b8bb26e6.0f1778","name":"","property":"payload.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":574.5,"y":93,"wires":[["713a24d2.ee10bc"],["73566909.b71b38"]]},{"id":"73566909.b71b38","type":"function","z":"b8bb26e6.0f1778","name":"set no data result","func":"let newPayload = {}\nnewPayload['responseCode'] = '404'\nnewPayload['responseMsg'] = 'no menu item'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":766,"y":133,"wires":[["9b6f213d.a6cc5"]]},{"id":"f9140706.2b50d8","type":"http in","z":"9d20c80f.23c9a8","name":"","url":"/db","method":"post","upload":false,"swaggerDoc":"","x":120,"y":540,"wires":[["74530c15.79eaa4"]]},{"id":"74530c15.79eaa4","type":"switch","z":"9d20c80f.23c9a8","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":130,"y":480,"wires":[["275282dd.6f7e1e"],["f7cc3789.af96e8"]]},{"id":"275282dd.6f7e1e","type":"switch","z":"9d20c80f.23c9a8","name":"check layout","property":"payload.layout.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":130,"y":440,"wires":[["e73d21ca.62101"],["f7cc3789.af96e8"]]},{"id":"f7cc3789.af96e8","type":"function","z":"9d20c80f.23c9a8","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":370,"y":480,"wires":[["bf51bbec.282628"]]},{"id":"bf51bbec.282628","type":"http response","z":"9d20c80f.23c9a8","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":650,"y":320,"wires":[]},{"id":"e73d21ca.62101","type":"function","z":"9d20c80f.23c9a8","name":"set info to flow","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg","outputs":1,"noerr":0,"x":140,"y":400,"wires":[["aaa14f2.bafa9b"]]},{"id":"1f939845.08e5e8","type":"switch","z":"9d20c80f.23c9a8","name":"check token","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":116.5,"y":154,"wires":[["2473261b.82f3ca"],["c51e5958.fe6068"]]},{"id":"c51e5958.fe6068","type":"function","z":"9d20c80f.23c9a8","name":"set token error","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token length error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":425.5,"y":183,"wires":[["bf51bbec.282628"]]},{"id":"576a9547.f18b8c","type":"cloudant in","z":"9d20c80f.23c9a8","name":"","cloudant":"398a5f3d.51d8c","database":"web_info","service":"_ext_","search":"_id_","design":"","index":"","x":332.5,"y":108,"wires":[["1fc1afd3.ed702"]]},{"id":"2473261b.82f3ca","type":"function","z":"9d20c80f.23c9a8","name":"set _id","func":"let actInfo = msg['actInfo']\nlet newPayload = {}\nif(actInfo.dataset == 0){\n  newPayload['_id'] = actInfo.cpId + '_layout'  \n}else{\n  newPayload['_id'] = actInfo.userId+'_'+actInfo.cpId + '_layout'\n}\n\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":106.5,"y":107,"wires":[["576a9547.f18b8c"]]},{"id":"1fc1afd3.ed702","type":"function","z":"9d20c80f.23c9a8","name":"check _rev","func":"let newPayload = {}\nlet actInfo = msg['actInfo']\nif(msg.payload !== null){\n    newPayload['_rev'] = msg.payload._rev\n    msg['_rev'] = msg.payload._rev\n}else{\n    msg['_rev'] = ''\n}\nif(actInfo.dataset == 0){\n  newPayload['_id'] = actInfo.cpId + '_layout'  \n}else{\n  newPayload['_id'] = actInfo.userId+'_'+actInfo.cpId + '_layout'\n}\nnewPayload['layout'] = actInfo.layout\nnewPayload['token'] = actInfo.token\nmsg.payload = newPayload\n//msg['responseMsg'] = msg.res\nreturn msg","outputs":1,"noerr":0,"x":521.5,"y":107,"wires":[["b7b0a67d.602628","2f0f9cef.4b38e4"]]},{"id":"b7b0a67d.602628","type":"cloudant out","z":"9d20c80f.23c9a8","name":"insert/update user layout","cloudant":"398a5f3d.51d8c","database":"web_info","service":"_ext_","payonly":true,"operation":"insert","x":829.5,"y":70,"wires":[]},{"id":"2f0f9cef.4b38e4","type":"function","z":"9d20c80f.23c9a8","name":"set result","func":"let newPayload = {}\nlet rev = msg['_rev']\nif(rev === ''){\n    newPayload['responseMsg'] = 'insert success'\n}else{\n    newPayload['responseMsg'] = 'update success'\n}\n\nnewPayload['responseCode'] = '000'\nmsg['payload'] = newPayload\n//msg.res = msg['responseMsg']\nreturn msg","outputs":1,"noerr":0,"x":782.5,"y":138,"wires":[["9dcb3638.a81f08"]]},{"id":"9dcb3638.a81f08","type":"http response","z":"9d20c80f.23c9a8","name":"","statusCode":"","headers":{"Access-Control-Allow-Origin":"*"},"x":948.5,"y":138,"wires":[]},{"id":"d688734e.139a6","type":"http in","z":"9d20c80f.23c9a8","name":"","url":"/db","method":"get","upload":false,"swaggerDoc":"","x":133,"y":1170,"wires":[["e38ad1b5.c97d3"]]},{"id":"e38ad1b5.c97d3","type":"switch","z":"9d20c80f.23c9a8","name":"check token","property":"payload.token.length","propertyType":"msg","rules":[{"t":"gt","v":"0","vt":"num"},{"t":"lte","v":"0","vt":"num"}],"checkall":"true","outputs":2,"x":128,"y":1125,"wires":[["dc7ba456.9e84d8"],["97770af5.a0b6f8"]]},{"id":"97770af5.a0b6f8","type":"function","z":"9d20c80f.23c9a8","name":"set missing result","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Missing parameter'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":393.5,"y":1113,"wires":[["93adeef4.6734"]]},{"id":"dc7ba456.9e84d8","type":"function","z":"9d20c80f.23c9a8","name":"set info to flow","func":"msg['actInfo'] = msg.payload\nmsg['token'] = encodeURIComponent(msg.payload['token'])\nreturn msg","outputs":1,"noerr":0,"x":121.5,"y":1087,"wires":[["33bdfe1f.07e322"]]},{"id":"33d570a4.08828","type":"switch","z":"9d20c80f.23c9a8","name":"check token","property":"check","propertyType":"msg","rules":[{"t":"eq","v":"1","vt":"num"},{"t":"neq","v":"1","vt":"num"}],"checkall":"true","outputs":2,"x":125,"y":725,"wires":[["29ae3757.adf128"],["16b2c984.f67b06"]]},{"id":"16b2c984.f67b06","type":"function","z":"9d20c80f.23c9a8","name":"set token error","func":"let newPayload = {}\nnewPayload['responseCode'] = '999'\nnewPayload['responseMsg'] = 'Token length error'\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":385,"y":765,"wires":[["93adeef4.6734"]]},{"id":"93adeef4.6734","type":"http response","z":"9d20c80f.23c9a8","name":"","statusCode":"","headers":{},"x":630,"y":900,"wires":[]},{"id":"bc8569a5.500ba8","type":"cloudant in","z":"9d20c80f.23c9a8","name":"get layout","cloudant":"398a5f3d.51d8c","database":"web_info","service":"_ext_","search":"_id_","design":"","index":"","x":600,"y":700,"wires":[["e3b9539c.e09e8","a80eb5c8.00c2c8"]]},{"id":"b22e8d5a.c96c3","type":"http response","z":"9d20c80f.23c9a8","name":"","statusCode":"","headers":{},"x":1530,"y":620,"wires":[]},{"id":"29ae3757.adf128","type":"function","z":"9d20c80f.23c9a8","name":"set _id to user layout","func":"let actInfo = msg['actInfo']\nlet newPayload = {}\nnewPayload['_id'] = actInfo.cpId + '_' +actInfo.userId + '_layout'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":408,"y":695,"wires":[["bc8569a5.500ba8","d9f4886f.070be8"]]},{"id":"e3b9539c.e09e8","type":"debug","z":"9d20c80f.23c9a8","name":"","active":true,"console":"false","complete":"true","x":770,"y":820,"wires":[]},{"id":"a80eb5c8.00c2c8","type":"function","z":"9d20c80f.23c9a8","name":"check result","func":"let newPayload = {}\nif(msg.payload == null){\n  newPayload['responseCode'] = '404'\n  newPayload['responseMsg'] = 'no data'\n}else{\n  newPayload['responseCode'] = '000'\n  newPayload['responseMsg'] = 'query success'\n  newPayload['layout'] = msg.payload.layout\n}\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":779.5,"y":694,"wires":[["ee0d1b1c.a19788"]]},{"id":"d9f4886f.070be8","type":"debug","z":"9d20c80f.23c9a8","name":"","active":true,"console":"false","complete":"true","x":498.5,"y":640,"wires":[]},{"id":"d3df6a51.5bb378","type":"function","z":"b8bb26e6.0f1778","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\ncheck = 1\nactInfo['grp'] = ar[0]\nactInfo['ts'] = ar[1]\nactInfo['userId'] = ar[2]\nactInfo['cpId'] = ar[3]\nactInfo['roleId'] = ar[4]\nactInfo['dataset'] = ar[5]\nmsg['actInfo'] = actInfo\nmsg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":145.5,"y":172,"wires":[["60ec643.314a99c"]]},{"id":"e6160f05.67af9","type":"function","z":"9d20c80f.23c9a8","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\ncheck = 1\nactInfo['grp'] = ar[0]\nactInfo['ts'] = ar[1]\nactInfo['userId'] = ar[2]\nactInfo['cpId'] = ar[3]\nactInfo['roleId'] = ar[4]\nactInfo['dataset'] = ar[5]\nmsg['actInfo'] = actInfo\nmsg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":110,"y":200,"wires":[["1f939845.08e5e8"]]},{"id":"e1be7009.5c698","type":"function","z":"9d20c80f.23c9a8","name":"set token len","func":"let actInfo = msg['actInfo']\nlet token = msg.payload\nlet check = 0\nlet ar = token.split(':')\nif(ar.length == 6){\ncheck = 1\nactInfo['grp'] = ar[0]\nactInfo['ts'] = ar[1]\nactInfo['userId'] = ar[2]\nactInfo['cpId'] = ar[3]\nactInfo['roleId'] = ar[4]\nactInfo['dataset'] = ar[5]\nflow.set('actInfo', actInfo)\nmsg['roleId'] = actInfo.roleId\n}\nmsg['check'] = check\nreturn msg","outputs":1,"noerr":0,"x":137,"y":787,"wires":[["33d570a4.08828"]]},{"id":"4485abc3.f57ce4","type":"http request","z":"b8bb26e6.0f1778","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":150,"y":320,"wires":[["fcbc7da.6b3868"]]},{"id":"fcbc7da.6b3868","type":"function","z":"b8bb26e6.0f1778","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":150,"y":280,"wires":[["8b5b90a5.1ba4"]]},{"id":"8b5b90a5.1ba4","type":"switch","z":"b8bb26e6.0f1778","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":140,"y":220,"wires":[["d3df6a51.5bb378"],["9b6f213d.a6cc5"]]},{"id":"aaa14f2.bafa9b","type":"http request","z":"9d20c80f.23c9a8","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":130,"y":360,"wires":[["b4b32273.0ce0b"]]},{"id":"b4b32273.0ce0b","type":"function","z":"9d20c80f.23c9a8","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":130,"y":320,"wires":[["5a668767.487168"]]},{"id":"5a668767.487168","type":"switch","z":"9d20c80f.23c9a8","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":260,"wires":[["e6160f05.67af9"],["bf51bbec.282628"]]},{"id":"33bdfe1f.07e322","type":"http request","z":"9d20c80f.23c9a8","name":"","method":"GET","ret":"obj","url":"http://am-svc:1880/chkToken?token={{token}}","tls":"","x":130,"y":1000,"wires":[["300361dc.a946ae"]]},{"id":"300361dc.a946ae","type":"function","z":"9d20c80f.23c9a8","name":"check token result","func":"let checkFlg = false\nif(msg.payload['responseCode'] == '000'){\n  checkFlg = true\n  msg.payload = msg.payload['data']\n}\nmsg['checkFlg'] = checkFlg\nreturn msg","outputs":1,"noerr":0,"x":130,"y":960,"wires":[["4c2bae9d.14226"]]},{"id":"4c2bae9d.14226","type":"switch","z":"9d20c80f.23c9a8","name":"check checkFlg","property":"checkFlg","propertyType":"msg","rules":[{"t":"true"},{"t":"false"}],"checkall":"true","repair":false,"outputs":2,"x":120,"y":900,"wires":[["e1be7009.5c698"],["93adeef4.6734"]]},{"id":"ee0d1b1c.a19788","type":"switch","z":"9d20c80f.23c9a8","name":"check user layout","property":"payload.responseCode","propertyType":"msg","rules":[{"t":"eq","v":"000","vt":"str"},{"t":"neq","v":"000","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":940,"y":620,"wires":[["b22e8d5a.c96c3"],["bc095c0d.c09cf"]]},{"id":"bc095c0d.c09cf","type":"function","z":"9d20c80f.23c9a8","name":"set _id to user layout","func":"let actInfo = msg['actInfo']\nlet newPayload = {}\nnewPayload['_id'] = actInfo.cpId + '_layout'\nmsg.payload = newPayload\nreturn msg","outputs":1,"noerr":0,"x":980,"y":780,"wires":[["80532881.4dab68"]]},{"id":"80532881.4dab68","type":"cloudant in","z":"9d20c80f.23c9a8","name":"get layout","cloudant":"398a5f3d.51d8c","database":"web_info","service":"_ext_","search":"_id_","design":"","index":"","x":1200,"y":780,"wires":[["13dc60e0.5519ff"]]},{"id":"13dc60e0.5519ff","type":"function","z":"9d20c80f.23c9a8","name":"check result","func":"let newPayload = {}\nif(msg.payload == null){\n  newPayload['responseCode'] = '404'\n  newPayload['responseMsg'] = 'no data'\n}else{\n  newPayload['responseCode'] = '000'\n  newPayload['responseMsg'] = 'query success'\n  newPayload['layout'] = msg.payload.layout\n}\nmsg['payload'] = newPayload\nreturn msg","outputs":1,"noerr":0,"x":1370,"y":780,"wires":[["b22e8d5a.c96c3"]]}]